<a href="https://colab.research.google.com/github/LorenzoJoquino/AP157/blob/main/GDELT_Short_Project_1_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This part of the program aims to read, analyze, and process GDELT files

In [205]:
#start date as 20220315020434, end date as 20220315033434

In [206]:
#Import necessary libraries 
from tabulate import tabulate
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import networkx as nx
import itertools 
from google.colab import files
from google.colab import drive
import gdown 
import requests 
from pathlib import Path
import random as rnd
import re

In [207]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Dictionary of Some Variables and Functions

###Variables

In [208]:
# "The Dictionary"

GDELT_types = ["export", "mentions"] #will add gkg later on

url_header = 'http://data.gdeltproject.org/gdeltv2/'
root_directory = [a + b + c for a, b, c in zip(["/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_"]*len(GDELT_types) \
                                               , GDELT_types, ["/"]*len(GDELT_types))]

filename_tail = [a + b + c for a, b, c in zip(["."]*len(GDELT_types) , GDELT_types, [".CSV.zip"]*len(GDELT_types))]

GDELT_v2_export_id = "1qu21fjfQIZ3ut7ozOyBUs7pXngQx_pR6" #folder id of GDELT_v2_export 
GDELT_v2_mentions_id = "1pfIL16rrkMcxqUoNaGPp2d3PKendiz2b" #folder id of GDELT_v2_mentions 

interval_min = 15 #minute intervals of GDELT 
date_format = "YYYYmmddHHMMSS"
len_date_format = len(date_format)

###Functions for GDELT Headers

In [209]:
# Function to obtain GDELT headers 
root_directory_headers = "/content/drive/MyDrive/GDELT_Raw_data/column_headers/"
column_headers_filename = ["GDELT_export_ColNames.txt", "GDELT_mentions_ColNames.txt"]

def give_GDELT_mentions_ColNames():
  file = open(root_directory_headers + column_headers_filename[1], "r")
  ColNames_file = file.read()
  ColNames = ColNames_file.split("\uf0b7")
  #the weird question mark has a character assignment \uf0b7
  #column_header_file.close()
  for i in range(len(ColNames)):
    split_string = ColNames[i].split(") ", 1)
    ColNames[i] = "*" + split_string[0] + "*"

  return ColNames

def give_GDELT_export_ColNames():
  file = open(root_directory_headers + column_headers_filename[0], "r")
  ColNames_file = file.read()
  ColNames = ColNames_file.split("\n")
  #new line delimiter as \n
  #column_header_file.close()
  for i in range(len(ColNames)):
    split_string = ColNames[i].split(",N", 1)
    ColNames[i] = split_string[0] 

  return ColNames

column_headers = {"export": give_GDELT_export_ColNames(), "mentions": give_GDELT_mentions_ColNames()}

###Function to obtain a date range (get_date_range)

In [210]:
# Function to obtain a date range 
def get_date_range():

  def ask_for_terminal_dates():
    #asking for input for terminal dates 
    try:
      start_date_obj = input("Input datetime you want to start at? (Format: YYYYmmddHHMMSS) ")
      if len(start_date_obj) != len_date_format: start_date_obj = 'error'
      start_date = pd.to_datetime(start_date_obj, format='%Y%m%d%H%M%S')

    except:
      start_date = dt.datetime.today() - dt.timedelta(days=3)

    start_date = start_date.replace(microsecond=0)
    print("%s is your start date" %start_date) #just for checking 
    
    try:
      end_date_obj = input("Input datetime you want to end at? (Format: YYYYmmddHHMMSS) ")
      if len(end_date_obj) != len_date_format: end_date_obj = 'error'  #not sure if to make it an error or to just add zeros 
      end_date = pd.to_datetime(end_date_obj, format='%Y%m%d%H%M%S')
    except: 
      end_date = dt.datetime.today() - dt.timedelta(days=2)
    end_date = end_date.replace(microsecond=0)
    print("%s is your end date" %end_date) #just for checking 
    return start_date, end_date

  def create_date_range(start_date, end_date):
    #must round down end_date and round up start_date to the nearest 15-minute interval 
    end_date_time = end_date.time()
    end_date = end_date - dt.timedelta(seconds = end_date_time.second, minutes = end_date_time.minute % interval_min)
    print("%s is your new end date" %end_date)

    start_date_time = start_date.time()
    start_date = start_date - dt.timedelta(seconds = start_date_time.second, minutes = start_date_time.minute % interval_min) #will adjust this later 
    print("%s is your new start date" %start_date)

    #make a list of dates in between start_date and end_date 
    datetimes_range = []
    scanning_date = start_date 
    while(scanning_date < end_date):
      # print(scanning_date)
      datetimes_range.append(scanning_date)
      scanning_date = scanning_date + dt.timedelta(minutes = interval_min)
    datetimes_range.append(end_date)

    return datetimes_range 


  #must string the values of the date together to form it back to a number 
  def convert_date_to_number(datetimes_range): 
    datetimes_range_int = []
    for date_in_dtformat in datetimes_range:
      date_in_intformat = int(date_in_dtformat.strftime("%Y%m%d%H%M%S"))
      datetimes_range_int.append(date_in_intformat)
    
    return datetimes_range_int 

  #now run all the subfunctions:
  start_date, end_date = ask_for_terminal_dates()
  datetimes_range = create_date_range(start_date, end_date)
  datetimes_range_int = convert_date_to_number(datetimes_range)

  return datetimes_range_int

###Function to create Filepaths of any type (export/event, mention) from data range (get_filepaths(dates_to_read))

Next code is to create filepaths so that it is possible to read files from GDRIVE once they are downloaded and saved in there

In [211]:
#create all the GDRIVE paths of each filename 
def get_filepaths(dates_to_read):

  def create_filepath(date, type_num):
    filepath = root_directory[type_num] + str(date) + filename_tail[type_num]
    return filepath

  filepaths_any_type = []
  for GDELT_type_num in range(len(GDELT_types)):
    filepaths_type_specific = []
    for date in dates_to_read:
      filepath = create_filepath(date, GDELT_type_num)
      filepaths_type_specific.append(filepath)
    
    filepaths_any_type.append(filepaths_type_specific)

  return filepaths_any_type

## Reading and Storing Export(Event) File

Input: non, but implicitly a date range; Output: list of event dfs, list of filenames that were read

In [212]:
def read_export_file(dates_to_read):
  #dates_to_read = get_date_range()
  filepaths = get_filepaths(dates_to_read)

  df_export_aggregate = []
  exports_that_were_read = []
  for file in filepaths[0]: #0 for export files
    try: 
      df = pd.read_csv(file, delimiter='\t', header=None, names=column_headers["export"])
      pd.options.display.max_columns = 60
      #print(df)
      df_export_aggregate.append(df)
      exports_that_were_read.append(file)

    except:
      print("no file of " + file + " .")
      continue
  return df_export_aggregate, exports_that_were_read #returns list of df's of export files

## Reading and storing Mentions File

Input: non, but implicitly a date range; Output: list of mention dfs, list of filenames that were read

In [213]:
def read_mentions_file(dates_to_read):
  #dates_to_read = get_date_range()
  filepaths = get_filepaths(dates_to_read)

  df_mentions_aggregate = []
  mentions_that_were_read = []
  for file in filepaths[1]:
    try: 
      df = pd.read_csv(file, delimiter='\t', header=None, names=column_headers["mentions"])
      pd.options.display.max_columns = 60
      #print(df)
      df_mentions_aggregate.append(df)
      mentions_that_were_read.append(file)
    except:
      print("no file of " + file + " .")
      continue
  return df_mentions_aggregate, mentions_that_were_read #returns list of df's

##Get list of all Event IDs 

Input:Aggregate of dfs of event files, Output: List of all Event IDs and their date-added

In [214]:
def get_eventIDs(eventdf_agg): 
  eventIDs = []
  eventID_dates = []

  for eventdf in eventdf_agg:
    eventIDs.append(eventdf['GLOBALEVENTID,INTEGER'].tolist())
    eventID_dates.append(eventdf['DATEADDED,INTEGER'].tolist()) #get date event was added so that I can compare it to the date of the mention dfs

  #converts from a list of lists to a single list  
  eventIDs_singlelist = list(itertools.chain.from_iterable(eventIDs))  
  eventID_dates_singlelist = list(itertools.chain.from_iterable(eventID_dates)) 
  
  return eventIDs_singlelist, eventID_dates_singlelist

##Get list of all URLs that mention/refer to a certain event (event ID) 

Input: event ID_with date, list of mention files; Output: List of URLs
- Input is in form [eventID, date_Added]

In [215]:
def get_URLs_mentioning_event(eventID_withdate, mentiondf_agg):
  URLs_mentioning_event = []

  for mentiondf in mentiondf_agg:
    
    #code to constrain the mentiondfs being scanned 
    date_mentiondf = mentiondf.iloc[200]['* MentionTimeDate. (integer*'] #all the date added in the mentions should be the same, so any row number will do 

    if (date_mentiondf < eventID_withdate[1]): #if the date of the mentiondf is earlier than when the event happened (earlier dates will have a lower number)
      continue #skip the mentiondf, for sure there will be no mentions of that event 

    #code to filter for URLs 
    mentions_of_eventID = mentiondf.loc[mentiondf['*GlobalEventID. (integer*'] == eventID_withdate[0]]
    #print(mentions_of_eventID) #for checking
    URLs_mentioning_event.append(mentions_of_eventID['* MentionIdentifier. (integer*'].tolist())
  
  URLs_mentioning_event_singlelist = list(itertools.chain.from_iterable(URLs_mentioning_event)) #convert from list of lists of URLs to single list of URLs

  return URLs_mentioning_event_singlelist

##Get common URLs between two event IDs (co-mentioning) 

1. Input: event 1 and event 2 ; Output: intersection? or number of common URLs?

In [216]:
def get_common_URLs_andFreq(event_withdate1, event_withdate2, mentiondf_agg):

  #First getting list of URLs
  URLs_event1 = get_URLs_mentioning_event(event_withdate1, mentiondf_agg)
  URLs_event2 = get_URLs_mentioning_event(event_withdate2, mentiondf_agg)

  print(len(URLs_event1), len(URLs_event2))

  if len(URLs_event1) == 1: 
    if URLs_event1[0] in URLs_event2:
      return 1
    else:
      return 0
  else: 
    #Now getting the common URLs
    URLs_event1_as_set = set(URLs_event1)
    Intersection = URLs_event1_as_set.intersection(URLs_event2)
    Intersection_as_list = list(Intersection)
    
  return len(Intersection_as_list)

##Create list of eventIDs and their comentioning between them 

Input: List of all events; Output: List([event1, event2, number of comentions])

###First Option: Get URLs as you pair them Up

In [217]:
def create_CoMention_list(dates_to_read):
  df_export_agg, scanned_export_filenames = read_export_file(dates_to_read)    #this is your event df 
  df_mentions_agg, scanned_mention_filenames = read_mentions_file(dates_to_read)

  eventIDs_withdates_listed = np.array(get_eventIDs(df_export_agg)) #Format: [[events],[dates]]
  eventIDs_withdates_paired = eventIDs_withdates_listed.transpose() #Format: [[event1, date1],....,[eventN, dateN]]

  print("finished getting all event IDs")

  CoMentioning_list = []
  scanned_event_pairs = []
  counter = 0 #Just to trace where it's at in terms of pairs scanned

  for event_pair in itertools.combinations(eventIDs_withdates_paired, 2):
    event_pair = list(event_pair)
    
    #print(event_pair) #for checking
    print("Pairs scanned: " + str(counter))

    counter += 1

    #I figured that if I'm going to use itertools.combinations, I don't need these if-else statements 
    """if (event_pair in scanned_event_pairs).all():
      continue
    elif (event_pair[0] == event_pair[1]).all(): #need to add .all() since numpy array being used
      continue
    
    else: 
      num_common_URLs = get_common_URLs_andFreq(event_pair[0], event_pair[1], df_mentions_agg)

      print([event_pair[0][0], event_pair[1][0], num_common_URLs]) #for checking

      CoMentioning_list.append([event_pair[0][0], event_pair[1][0], num_common_URLs]) 
      scanned_event_pairs.append(list(event_pair))
      scanned_event_pairs.append([event_pair[1], event_pair[0]]) #reverse of list(event_pair)"""

    num_common_URLs = get_common_URLs_andFreq(event_pair[0], event_pair[1], df_mentions_agg)

    print([event_pair[0][0], event_pair[1][0], num_common_URLs]) #for checking

    CoMentioning_list.append([event_pair[0][0], event_pair[1][0], num_common_URLs]) 
    scanned_event_pairs.append(list(event_pair))
    scanned_event_pairs.append([event_pair[1], event_pair[0]]) #reverse of list(event_pair)
    
  return CoMentioning_list

###Second Option: Get All URLs first before pairing them up

##Create Network from the list of comentions 

Input: List of Comentions; Output: Network (nodes --> event ID, edges --> # of comentions)

In [218]:
def create_network(list_of_list):
  co_mention_df = pd.DataFrame(list_of_list, columns = ['Event_1', 'Event_2', 'Num_Co_mentions']) #convert first to dataframe 

  #convert to network and draw 
  plt.figure()
  co_mention_network = nx.from_pandas_edgelist(co_mention_df, source = 'Event_1', target = 'Event_2', edge_attr='Num_co_mentions')
  nx.draw(co_mention_network)
  plt.title("GDELT co-mention Grid")
  plt.draw()  # pyplot draw()`
  
  #get adjacency matrix
  Adj_co_mention = nx.to_numpy_array(co_mention_network)
  return Adj_co_mention

##Put Everything together from reading dfs to creating networks

1. Get Date Range 
2. create_CoMention_list
3. create network

In [219]:
#start date as 20220315020434, end date as 20220315033434

In [220]:
def main_networks():
  dates_to_read = get_date_range()
  print("finished with getting dates")
  CoMentioning_list = create_CoMention_list(dates_to_read)
  Adj_co_mention = create_network(CoMentioning_list)

  print(Adj_co_mention)
  return

###Actual Test

In [221]:
main_networks()

Streaming output truncated to the last 5000 lines.
[1033864016, 1033869465, 0]
Pairs scanned: 66969
1 1
[1033864016, 1033869466, 0]
Pairs scanned: 66970
1 1
[1033864016, 1033869467, 0]
Pairs scanned: 66971
1 1
[1033864016, 1033869468, 0]
Pairs scanned: 66972
1 1
[1033864016, 1033869469, 0]
Pairs scanned: 66973
1 1
[1033864016, 1033869470, 0]
Pairs scanned: 66974
1 1
[1033864016, 1033869471, 0]
Pairs scanned: 66975
1 1
[1033864016, 1033869472, 0]
Pairs scanned: 66976
1 1
[1033864016, 1033869473, 0]
Pairs scanned: 66977
1 1
[1033864016, 1033869474, 0]
Pairs scanned: 66978
1 1
[1033864016, 1033869475, 0]
Pairs scanned: 66979
1 1
[1033864016, 1033869476, 0]
Pairs scanned: 66980
1 1
[1033864016, 1033869477, 0]
Pairs scanned: 66981
1 1
[1033864016, 1033869478, 0]
Pairs scanned: 66982
1 2
[1033864016, 1033869479, 0]
Pairs scanned: 66983
1 2
[1033864016, 1033869480, 0]
Pairs scanned: 66984
1 2
[1033864016, 1033869481, 0]
Pairs scanned: 66985
1 2
[1033864016, 1033869482, 0]
Pairs scanned: 66986
1 2
[1033864016, 1033869483, 0]
Pairs scanned: 66987
1 2
[1033864016, 1033869484, 0]
Pairs scanned: 66988
1 1
[1033864016, 1033869485, 0]
Pairs scanned: 66989
1 1
[1033864016, 1033869486, 0]
Pairs scanned: 66990
1 1
[1033864016, 1033869487, 0]
Pairs scanned: 66991
1 1
[1033864016, 1033869488, 0]
Pairs scanned: 66992
1 1
[1033864016, 1033869489, 0]
Pairs scanned: 66993
1 1
[1033864016, 1033869490, 0]
Pairs scanned: 66994
1 1
[1033864016, 1033869491, 0]
Pairs scanned: 66995
1 1
[1033864016, 1033869492, 0]
Pairs scanned: 66996
1 1
[1033864016, 1033869493, 0]
Pairs scanned: 66997
1 1
[1033864016, 1033869494, 0]
Pairs scanned: 66998
1 1
[1033864016, 1033869495, 0]
Pairs scanned: 66999
1 2
[1033864016, 1033869496, 0]
Pairs scanned: 67000
1 1
[1033864016, 1033869497, 0]
Pairs scanned: 67001
1 1
[1033864016, 1033869498, 0]
Pairs scanned: 67002
1 1
[1033864016, 1033869499, 0]
Pairs scanned: 67003
1 1
[1033864016, 1033869500, 0]
Pairs scanned: 67004
1 1
[1033864016, 1033869501, 0]
Pairs scanned: 67005
1 1
[1033864016, 1033869502, 0]
Pairs scanned: 67006
1 1
[1033864016, 1033869503, 0]
Pairs scanned: 67007
1 1
[1033864016, 1033869504, 0]
Pairs scanned: 67008
1 1
[1033864016, 1033869505, 0]
Pairs scanned: 67009
1 1
[1033864016, 1033869506, 0]
Pairs scanned: 67010
1 1
[1033864016, 1033869507, 0]
Pairs scanned: 67011
1 1
[1033864016, 1033869508, 0]
Pairs scanned: 67012
1 1
[1033864016, 1033869509, 0]
Pairs scanned: 67013
1 1
[1033864016, 1033869510, 0]
Pairs scanned: 67014
1 1
[1033864016, 1033869511, 0]
Pairs scanned: 67015
1 1
[1033864016, 1033869512, 0]
Pairs scanned: 67016
1 1
[1033864016, 1033869513, 0]
Pairs scanned: 67017
1 1
[1033864016, 1033869514, 0]
Pairs scanned: 67018
1 1
[1033864016, 1033869515, 0]
Pairs scanned: 67019
1 1
[1033864016, 1033869516, 0]
Pairs scanned: 67020
1 1
[1033864016, 1033869517, 0]
Pairs scanned: 67021
1 1
[1033864016, 1033869518, 0]
Pairs scanned: 67022
1 1
[1033864016, 1033869519, 0]
Pairs scanned: 67023
1 2
[1033864016, 1033869520, 0]
Pairs scanned: 67024
1 1
[1033864016, 1033869521, 0]
Pairs scanned: 67025
1 1
[1033864016, 1033869522, 0]
Pairs scanned: 67026
1 1
[1033864016, 1033869523, 0]
Pairs scanned: 67027
1 2
[1033864016, 1033869524, 0]
Pairs scanned: 67028
1 1
[1033864016, 1033869525, 0]
Pairs scanned: 67029
1 1
[1033864016, 1033869526, 0]
Pairs scanned: 67030
1 1
[1033864016, 1033869527, 0]
Pairs scanned: 67031
1 1
[1033864016, 1033869528, 0]
Pairs scanned: 67032
1 1
[1033864016, 1033869529, 0]
Pairs scanned: 67033
1 1
[1033864016, 1033869530, 0]
Pairs scanned: 67034
1 1
[1033864016, 1033869531, 0]
Pairs scanned: 67035
1 1
[1033864016, 1033869532, 0]
Pairs scanned: 67036
1 1
[1033864016, 1033869533, 0]
Pairs scanned: 67037
1 1
[1033864016, 1033869534, 0]
Pairs scanned: 67038
1 1
[1033864016, 1033869535, 0]
Pairs scanned: 67039
1 1
[1033864016, 1033869536, 0]
Pairs scanned: 67040
1 1
[1033864016, 1033869537, 0]
Pairs scanned: 67041
1 1
[1033864016, 1033869538, 0]
Pairs scanned: 67042
1 1
[1033864016, 1033869539, 0]
Pairs scanned: 67043
1 1
[1033864016, 1033869540, 0]
Pairs scanned: 67044
1 1
[1033864016, 1033869541, 0]
Pairs scanned: 67045
1 1
[1033864016, 1033869542, 0]
Pairs scanned: 67046
1 1
[1033864016, 1033869543, 0]
Pairs scanned: 67047
1 1
[1033864016, 1033869544, 0]
Pairs scanned: 67048
1 2
[1033864016, 1033869545, 0]
Pairs scanned: 67049
1 1
[1033864016, 1033869546, 0]
Pairs scanned: 67050
1 1
[1033864016, 1033869547, 0]
Pairs scanned: 67051
1 1
[1033864016, 1033869548, 0]
Pairs scanned: 67052
1 2
[1033864016, 1033869549, 0]
Pairs scanned: 67053
1 1
[1033864016, 1033869550, 0]
Pairs scanned: 67054
1 1
[1033864016, 1033869551, 0]
Pairs scanned: 67055
1 1
[1033864016, 1033869552, 0]
Pairs scanned: 67056
1 1
[1033864016, 1033869553, 0]
Pairs scanned: 67057
1 2
[1033864016, 1033869554, 0]
Pairs scanned: 67058
1 1
[1033864016, 1033869555, 0]
Pairs scanned: 67059
1 1
[1033864016, 1033869556, 0]
Pairs scanned: 67060
1 1
[1033864016, 1033869557, 0]
Pairs scanned: 67061
1 1
[1033864016, 1033869558, 0]
Pairs scanned: 67062
1 1
[1033864016, 1033869559, 0]
Pairs scanned: 67063
1 1
[1033864016, 1033869560, 0]
Pairs scanned: 67064
1 1
[1033864016, 1033869561, 0]
Pairs scanned: 67065
1 1
[1033864016, 1033869562, 0]
Pairs scanned: 67066
1 1
[1033864016, 1033869563, 0]
Pairs scanned: 67067
1 1
[1033864016, 1033869564, 0]
Pairs scanned: 67068
1 1
[1033864016, 1033869565, 0]
Pairs scanned: 67069
1 1
[1033864016, 1033869566, 0]
Pairs scanned: 67070
1 1
[1033864016, 1033869567, 0]
Pairs scanned: 67071
1 1
[1033864016, 1033869568, 0]
Pairs scanned: 67072
1 2
[1033864016, 1033869569, 0]
Pairs scanned: 67073
1 1
[1033864016, 1033869570, 0]
Pairs scanned: 67074
1 1
[1033864016, 1033869571, 0]
Pairs scanned: 67075
1 1
[1033864016, 1033869572, 0]
Pairs scanned: 67076
1 1
[1033864016, 1033869573, 0]
Pairs scanned: 67077
1 1
[1033864016, 1033869574, 0]
Pairs scanned: 67078
1 1
[1033864016, 1033869575, 0]
Pairs scanned: 67079
1 1
[1033864016, 1033869576, 0]
Pairs scanned: 67080
1 1
[1033864016, 1033869577, 0]
Pairs scanned: 67081
1 1
[1033864016, 1033869578, 0]
Pairs scanned: 67082
1 1
[1033864016, 1033869579, 0]
Pairs scanned: 67083
1 1
[1033864016, 1033869580, 0]
Pairs scanned: 67084
1 1
[1033864016, 1033869581, 0]
Pairs scanned: 67085
1 1
[1033864016, 1033869582, 0]
Pairs scanned: 67086
1 1
[1033864016, 1033869583, 0]
Pairs scanned: 67087
1 1
[1033864016, 1033869584, 0]
Pairs scanned: 67088
1 1
[1033864016, 1033869585, 0]
Pairs scanned: 67089
1 1
[1033864016, 1033869586, 0]
Pairs scanned: 67090
1 1
[1033864016, 1033869587, 0]
Pairs scanned: 67091
1 1
[1033864016, 1033869588, 0]
Pairs scanned: 67092
1 1
[1033864016, 1033869589, 0]
Pairs scanned: 67093
1 1
[1033864016, 1033869590, 0]
Pairs scanned: 67094
1 1
[1033864016, 1033869591, 0]
Pairs scanned: 67095
1 1
[1033864016, 1033869592, 0]
Pairs scanned: 67096
1 1
[1033864016, 1033869593, 0]
Pairs scanned: 67097
1 1
[1033864016, 1033869594, 0]
Pairs scanned: 67098
1 1
[1033864016, 1033869595, 0]
Pairs scanned: 67099
1 1
[1033864016, 1033869596, 0]
Pairs scanned: 67100
1 1
[1033864016, 1033869597, 0]
Pairs scanned: 67101
1 1
[1033864016, 1033869598, 0]
Pairs scanned: 67102
1 1
[1033864016, 1033869599, 0]
Pairs scanned: 67103
1 1
[1033864016, 1033869600, 0]
Pairs scanned: 67104
1 1
[1033864016, 1033869601, 0]
Pairs scanned: 67105
1 1
[1033864016, 1033869602, 0]
Pairs scanned: 67106
1 1
[1033864016, 1033869603, 0]
Pairs scanned: 67107
1 1
[1033864016, 1033869604, 0]
Pairs scanned: 67108
1 1
[1033864016, 1033869605, 0]
Pairs scanned: 67109
1 1
[1033864016, 1033869606, 0]
Pairs scanned: 67110
1 1
[1033864016, 1033869607, 0]
Pairs scanned: 67111
1 1
[1033864016, 1033869608, 0]
Pairs scanned: 67112
1 1
[1033864016, 1033869609, 0]
Pairs scanned: 67113
1 2
[1033864016, 1033869610, 0]
Pairs scanned: 67114
1 1
[1033864016, 1033869611, 0]
Pairs scanned: 67115
1 1
[1033864016, 1033869612, 0]
Pairs scanned: 67116
1 1
[1033864016, 1033869613, 0]
Pairs scanned: 67117
1 1
[1033864016, 1033869614, 0]
Pairs scanned: 67118
1 1
[1033864016, 1033869615, 0]
Pairs scanned: 67119
1 1
[1033864016, 1033869616, 0]
Pairs scanned: 67120
1 1
[1033864016, 1033869617, 0]
Pairs scanned: 67121
1 1
[1033864016, 1033869618, 0]
Pairs scanned: 67122
1 1
[1033864016, 1033869619, 0]
Pairs scanned: 67123
1 3
[1033864016, 1033869620, 0]
Pairs scanned: 67124
1 1
[1033864016, 1033869621, 0]
Pairs scanned: 67125
1 1
[1033864016, 1033869622, 0]
Pairs scanned: 67126
1 3
[1033864016, 1033869623, 0]
Pairs scanned: 67127
1 1
[1033864016, 1033869624, 0]
Pairs scanned: 67128
1 1
[1033864016, 1033869625, 0]
Pairs scanned: 67129
1 1
[1033864016, 1033869626, 0]
Pairs scanned: 67130
1 1
[1033864016, 1033869627, 0]
Pairs scanned: 67131
1 1
[1033864016, 1033869628, 0]
Pairs scanned: 67132
1 1
[1033864016, 1033869629, 0]
Pairs scanned: 67133
1 1
[1033864016, 1033869630, 0]
Pairs scanned: 67134
1 1
[1033864016, 1033869631, 0]
Pairs scanned: 67135
1 1
[1033864016, 1033869632, 0]
Pairs scanned: 67136
1 1
[1033864016, 1033869633, 0]
Pairs scanned: 67137
1 1
[1033864016, 1033869634, 0]
Pairs scanned: 67138
1 1
[1033864016, 1033869635, 0]
Pairs scanned: 67139
1 2
[1033864016, 1033869636, 0]
Pairs scanned: 67140
1 1
[1033864016, 1033869637, 0]
Pairs scanned: 67141
1 1
[1033864016, 1033869638, 0]
Pairs scanned: 67142
1 1
[1033864016, 1033869639, 0]
Pairs scanned: 67143
1 1
[1033864016, 1033869640, 0]
Pairs scanned: 67144
1 1
[1033864016, 1033869641, 0]
Pairs scanned: 67145
1 1
[1033864016, 1033869642, 0]
Pairs scanned: 67146
1 1
[1033864016, 1033869643, 0]
Pairs scanned: 67147
1 1
[1033864016, 1033869644, 0]
Pairs scanned: 67148
1 1
[1033864016, 1033869645, 0]
Pairs scanned: 67149
1 1
[1033864016, 1033869646, 0]
Pairs scanned: 67150
1 1
[1033864016, 1033869647, 0]
Pairs scanned: 67151
1 1
[1033864016, 1033869648, 0]
Pairs scanned: 67152
1 1
[1033864016, 1033869649, 0]
Pairs scanned: 67153
1 1
[1033864016, 1033869650, 0]
Pairs scanned: 67154
1 1
[1033864016, 1033869651, 0]
Pairs scanned: 67155
1 1
[1033864016, 1033869652, 0]
Pairs scanned: 67156
1 2
[1033864016, 1033869653, 0]
Pairs scanned: 67157
1 1
[1033864016, 1033869654, 0]
Pairs scanned: 67158
1 1
[1033864016, 1033869655, 0]
Pairs scanned: 67159
1 1
[1033864016, 1033869656, 0]
Pairs scanned: 67160
1 1
[1033864016, 1033869657, 0]
Pairs scanned: 67161
1 1
[1033864016, 1033869658, 0]
Pairs scanned: 67162
1 1
[1033864016, 1033869659, 0]
Pairs scanned: 67163
1 1
[1033864016, 1033869660, 0]
Pairs scanned: 67164
1 1
[1033864016, 1033869661, 0]
Pairs scanned: 67165
1 1
[1033864016, 1033869662, 0]
Pairs scanned: 67166
1 1
[1033864016, 1033869663, 0]
Pairs scanned: 67167
1 1
[1033864016, 1033869664, 0]
Pairs scanned: 67168
1 1
[1033864016, 1033869665, 0]
Pairs scanned: 67169
1 1
[1033864016, 1033869666, 0]
Pairs scanned: 67170
1 1
[1033864016, 1033869667, 0]
Pairs scanned: 67171
1 1
[1033864016, 1033869668, 0]
Pairs scanned: 67172
1 1
[1033864016, 1033869669, 0]
Pairs scanned: 67173
1 1
[1033864016, 1033869670, 0]
Pairs scanned: 67174
1 1
[1033864016, 1033869671, 0]
Pairs scanned: 67175
1 1
[1033864016, 1033869672, 0]
Pairs scanned: 67176
1 1
[1033864016, 1033869673, 0]
Pairs scanned: 67177
1 1
[1033864016, 1033869674, 0]
Pairs scanned: 67178
1 1
[1033864016, 1033869675, 0]
Pairs scanned: 67179
1 3
[1033864016, 1033869676, 0]
Pairs scanned: 67180
1 1
[1033864016, 1033869677, 0]
Pairs scanned: 67181
1 1
[1033864016, 1033869678, 0]
Pairs scanned: 67182
1 1
[1033864016, 1033869679, 0]
Pairs scanned: 67183
1 1
[1033864016, 1033869680, 0]
Pairs scanned: 67184
1 1
[1033864016, 1033869681, 0]
Pairs scanned: 67185
1 1
[1033864016, 1033869682, 0]
Pairs scanned: 67186
1 1
[1033864016, 1033869683, 0]
Pairs scanned: 67187
1 1
[1033864016, 1033869684, 0]
Pairs scanned: 67188
1 1
[1033864016, 1033869685, 0]
Pairs scanned: 67189
1 1
[1033864016, 1033869686, 0]
Pairs scanned: 67190
1 1
[1033864016, 1033869687, 0]
Pairs scanned: 67191
1 1
[1033864016, 1033869688, 0]
Pairs scanned: 67192
1 1
[1033864016, 1033869689, 0]
Pairs scanned: 67193
1 1
[1033864016, 1033869690, 0]
Pairs scanned: 67194
1 1
[1033864016, 1033869691, 0]
Pairs scanned: 67195
1 1
[1033864016, 1033869692, 0]
Pairs scanned: 67196
1 1
[1033864016, 1033869693, 0]
Pairs scanned: 67197
1 1
[1033864016, 1033869694, 0]
Pairs scanned: 67198
1 1
[1033864016, 1033869695, 0]
Pairs scanned: 67199
1 2
[1033864016, 1033869696, 0]
Pairs scanned: 67200
1 2
[1033864016, 1033869697, 0]
Pairs scanned: 67201
1 2
[1033864016, 1033869698, 0]
Pairs scanned: 67202
1 1
[1033864016, 1033869699, 0]
Pairs scanned: 67203
1 1
[1033864016, 1033869700, 0]
Pairs scanned: 67204
1 1
[1033864016, 1033869701, 0]
Pairs scanned: 67205
1 1
[1033864016, 1033869702, 0]
Pairs scanned: 67206
1 1
[1033864016, 1033869703, 0]
Pairs scanned: 67207
1 1
[1033864016, 1033869704, 0]
Pairs scanned: 67208
1 2
[1033864016, 1033869705, 0]
Pairs scanned: 67209
1 1
[1033864016, 1033869706, 0]
Pairs scanned: 67210
1 1
[1033864016, 1033869707, 0]
Pairs scanned: 67211
1 1
[1033864016, 1033869708, 0]
Pairs scanned: 67212
1 1
[1033864016, 1033869709, 0]
Pairs scanned: 67213
1 1
[1033864016, 1033869710, 0]
Pairs scanned: 67214
1 1
[1033864016, 1033869711, 0]
Pairs scanned: 67215
1 1
[1033864016, 1033869712, 0]
Pairs scanned: 67216
1 1
[1033864016, 1033869713, 0]
Pairs scanned: 67217
1 1
[1033864016, 1033869714, 0]
Pairs scanned: 67218
1 1
[1033864016, 1033869715, 0]
Pairs scanned: 67219
1 1
[1033864016, 1033869716, 0]
Pairs scanned: 67220
1 1
[1033864016, 1033869717, 0]
Pairs scanned: 67221
1 1
[1033864016, 1033869718, 0]
Pairs scanned: 67222
1 1
[1033864016, 1033869719, 0]
Pairs scanned: 67223
1 1
[1033864016, 1033869720, 0]
Pairs scanned: 67224
1 1
[1033864016, 1033869721, 0]
Pairs scanned: 67225
1 1
[1033864016, 1033869722, 0]
Pairs scanned: 67226
1 1
[1033864016, 1033869723, 0]
Pairs scanned: 67227
1 1
[1033864016, 1033869724, 0]
Pairs scanned: 67228
1 1
[1033864016, 1033869725, 0]
Pairs scanned: 67229
1 1
[1033864016, 1033869726, 0]
Pairs scanned: 67230
1 1
[1033864016, 1033869727, 0]
Pairs scanned: 67231
1 1
[1033864016, 1033869728, 0]
Pairs scanned: 67232
1 1
[1033864016, 1033869729, 0]
Pairs scanned: 67233
1 1
[1033864016, 1033869730, 0]
Pairs scanned: 67234
1 1
[1033864016, 1033869731, 0]
Pairs scanned: 67235
1 1
[1033864016, 1033869732, 0]
Pairs scanned: 67236
1 1
[1033864016, 1033869733, 0]
Pairs scanned: 67237
1 1
[1033864016, 1033869734, 0]
Pairs scanned: 67238
1 1
[1033864016, 1033869735, 0]
Pairs scanned: 67239
1 1
[1033864016, 1033869736, 0]
Pairs scanned: 67240
1 1
[1033864016, 1033869737, 0]
Pairs scanned: 67241
1 1
[1033864016, 1033869738, 0]
Pairs scanned: 67242
1 1
[1033864016, 1033869739, 0]
Pairs scanned: 67243
1 1
[1033864016, 1033869740, 0]
Pairs scanned: 67244
1 1
[1033864016, 1033869741, 0]
Pairs scanned: 67245
1 1
[1033864016, 1033869742, 0]
Pairs scanned: 67246
1 1
[1033864016, 1033869743, 0]
Pairs scanned: 67247
1 1
[1033864016, 1033869744, 0]
Pairs scanned: 67248
1 1
[1033864016, 1033869745, 0]
Pairs scanned: 67249
1 1
[1033864016, 1033869746, 0]
Pairs scanned: 67250
1 1
[1033864016, 1033869747, 0]
Pairs scanned: 67251
1 1
[1033864016, 1033869748, 0]
Pairs scanned: 67252
1 1
[1033864016, 1033869749, 0]
Pairs scanned: 67253
1 1
[1033864016, 1033869750, 0]
Pairs scanned: 67254
1 1
[1033864016, 1033869751, 0]
Pairs scanned: 67255
1 1
[1033864016, 1033869752, 0]
Pairs scanned: 67256
1 1
[1033864016, 1033869753, 0]
Pairs scanned: 67257
1 1
[1033864016, 1033869754, 0]
Pairs scanned: 67258
1 1
[1033864016, 1033870207, 0]
Pairs scanned: 67259
1 1
[1033864016, 1033870208, 0]
Pairs scanned: 67260
1 1
[1033864016, 1033870209, 0]
Pairs scanned: 67261
1 1
[1033864016, 1033870210, 0]
Pairs scanned: 67262
1 1
[1033864016, 1033870211, 0]
Pairs scanned: 67263
1 1
[1033864016, 1033870212, 0]
Pairs scanned: 67264
1 1
[1033864016, 1033870213, 0]
Pairs scanned: 67265
1 1
[1033864016, 1033870214, 0]
Pairs scanned: 67266
1 1
[1033864016, 1033870215, 0]
Pairs scanned: 67267
1 1
[1033864016, 1033870216, 0]
Pairs scanned: 67268
1 1
[1033864016, 1033870217, 0]
Pairs scanned: 67269
1 1
[1033864016, 1033870218, 0]
Pairs scanned: 67270
1 1
[1033864016, 1033870219, 0]
Pairs scanned: 67271
1 1
[1033864016, 1033870220, 0]
Pairs scanned: 67272
1 1
[1033864016, 1033870221, 0]
Pairs scanned: 67273
1 1
[1033864016, 1033870222, 0]
Pairs scanned: 67274
1 1
[1033864016, 1033870223, 0]
Pairs scanned: 67275
1 1
[1033864016, 1033870224, 0]
Pairs scanned: 67276
1 1
[1033864016, 1033870225, 0]
Pairs scanned: 67277
1 1
[1033864016, 1033870226, 0]
Pairs scanned: 67278
1 1
[1033864016, 1033870227, 0]
Pairs scanned: 67279
1 1
[1033864016, 1033870228, 0]
Pairs scanned: 67280
1 1
[1033864016, 1033870229, 0]
Pairs scanned: 67281
1 1
[1033864016, 1033870230, 0]
Pairs scanned: 67282
1 1
[1033864016, 1033870231, 0]
Pairs scanned: 67283
1 1
[1033864016, 1033870232, 0]
Pairs scanned: 67284
1 1
[1033864016, 1033870233, 0]
Pairs scanned: 67285
1 1
[1033864016, 1033870234, 0]
Pairs scanned: 67286
1 1
[1033864016, 1033870235, 0]
Pairs scanned: 67287
1 1
[1033864016, 1033870236, 0]
Pairs scanned: 67288
1 1
[1033864016, 1033870237, 0]
Pairs scanned: 67289
1 1
[1033864016, 1033870238, 0]
Pairs scanned: 67290
1 1
[1033864016, 1033870239, 0]
Pairs scanned: 67291
1 1
[1033864016, 1033870240, 0]
Pairs scanned: 67292
1 1
[1033864016, 1033870241, 0]
Pairs scanned: 67293
1 1
[1033864016, 1033870242, 0]
Pairs scanned: 67294
1 1
[1033864016, 1033870243, 0]
Pairs scanned: 67295
1 1
[1033864016, 1033870244, 0]
Pairs scanned: 67296
1 1
[1033864016, 1033870245, 0]
Pairs scanned: 67297
1 1
[1033864016, 1033870246, 0]
Pairs scanned: 67298
1 1
[1033864016, 1033870247, 0]
Pairs scanned: 67299
1 1
[1033864016, 1033870248, 0]
Pairs scanned: 67300
1 1
[1033864016, 1033870249, 0]
Pairs scanned: 67301
1 1
[1033864016, 1033870250, 0]
Pairs scanned: 67302
1 1
[1033864016, 1033870251, 0]
Pairs scanned: 67303
1 1
[1033864016, 1033870252, 0]
Pairs scanned: 67304
1 1
[1033864016, 1033870253, 0]
Pairs scanned: 67305
1 1
[1033864016, 1033870254, 0]
Pairs scanned: 67306
1 1
[1033864016, 1033870255, 0]
Pairs scanned: 67307
1 1
[1033864016, 1033870256, 0]
Pairs scanned: 67308
1 1
[1033864016, 1033870257, 0]
Pairs scanned: 67309
1 1
[1033864016, 1033870258, 0]
Pairs scanned: 67310
1 1
[1033864016, 1033870259, 0]
Pairs scanned: 67311
1 1
[1033864016, 1033870260, 0]
Pairs scanned: 67312
1 1
[1033864016, 1033870261, 0]
Pairs scanned: 67313
1 1
[1033864016, 1033870262, 0]
Pairs scanned: 67314
1 1
[1033864016, 1033870263, 0]
Pairs scanned: 67315
1 1
[1033864016, 1033870264, 0]
Pairs scanned: 67316
1 1
[1033864016, 1033870265, 0]
Pairs scanned: 67317
1 1
[1033864016, 1033870266, 0]
Pairs scanned: 67318
1 1
[1033864016, 1033870267, 0]
Pairs scanned: 67319
1 1
[1033864016, 1033870268, 0]
Pairs scanned: 67320
1 1
[1033864016, 1033870269, 0]
Pairs scanned: 67321
1 1
[1033864016, 1033870270, 0]
Pairs scanned: 67322
1 1
[1033864016, 1033870271, 0]
Pairs scanned: 67323
1 1
[1033864016, 1033870272, 0]
Pairs scanned: 67324
1 1
[1033864016, 1033870273, 0]
Pairs scanned: 67325
1 1
[1033864016, 1033870274, 0]
Pairs scanned: 67326
1 1
[1033864016, 1033870275, 0]
Pairs scanned: 67327
1 1
[1033864016, 1033870276, 0]
Pairs scanned: 67328
1 1
[1033864016, 1033870277, 0]
Pairs scanned: 67329
1 1
[1033864016, 1033870278, 0]
Pairs scanned: 67330
1 1
[1033864016, 1033870279, 0]
Pairs scanned: 67331
1 1
[1033864016, 1033870280, 0]
Pairs scanned: 67332
1 1
[1033864016, 1033870281, 0]
Pairs scanned: 67333
1 1
[1033864016, 1033870282, 0]
Pairs scanned: 67334
1 1
[1033864016, 1033870283, 0]
Pairs scanned: 67335
1 1
[1033864016, 1033870284, 0]
Pairs scanned: 67336
1 1
[1033864016, 1033870285, 0]
Pairs scanned: 67337
1 1
[1033864016, 1033870286, 0]
Pairs scanned: 67338
1 1
[1033864016, 1033870287, 0]
Pairs scanned: 67339
1 1
[1033864016, 1033870288, 0]
Pairs scanned: 67340
1 1
[1033864016, 1033870289, 0]
Pairs scanned: 67341
1 1
[1033864016, 1033870290, 0]
Pairs scanned: 67342
1 1
[1033864016, 1033870291, 0]
Pairs scanned: 67343
1 1
[1033864016, 1033870292, 0]
Pairs scanned: 67344
1 1

KeyboardInterrupt: ignored

##Debugging Codes

###Checking how URLs referring to an event are found

In [ ]:
#start date as 20220315020434, end date as 20220315033434

In [59]:
dates_to_read = get_date_range()
df_mentions_agg, scanned_mention_filenames = read_mentions_file(dates_to_read)

df_export_agg, scanned_export_filenames = read_export_file(dates_to_read)

Input datetime you want to start at? (Format: YYYYmmddHHMMSS) 20220315020434
2022-03-15 02:04:34 is your start date
Input datetime you want to end at? (Format: YYYYmmddHHMMSS) 20220315033434
2022-03-15 03:34:34 is your end date
2022-03-15 03:30:00 is your new end date
2022-03-15 02:00:00 is your new start date
no file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315020000.mentions.CSV.zip .
no file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315020000.export.CSV.zip .

In [60]:
for a in df_export_agg: 
  print(len(a))

1712
936
944
1108
1244
1013

In [28]:
print(scanned_mention_filenames)
print(len(scanned_mention_filenames))

['/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315021500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315023000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315024500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315030000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315031500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315033000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315034500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315040000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315041500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315043000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315044500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315050000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315051500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315053000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315054500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315060000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315061500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315063000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315064500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315070000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315071500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315073000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315074500.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315080000.mentions.CSV.zip', '/content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315081500.mentions.CSV.zip']
25

In [ ]:
#sample event ID: 1033866647

In [ ]:
# sameple event comparison: [1033864007, 1033865166, 1

In [21]:
URL_Sample_list = get_URLs_mentioning_event(1033866647, df_mentions_agg)

In [22]:
print(len(URL_Sample_list))

19

In [24]:
URL_Sample_list1 = get_URLs_mentioning_event(1033864007, df_mentions_agg)
print(URL_Sample_list1)

URL_Sample_list2 = get_URLs_mentioning_event(1033865166, df_mentions_agg)
print(URL_Sample_list2)

['https://www.proactiveinvestors.com.au/companies/news/976694/magmatic-resources-new-managing-director-starts-today-bringing-extensive-record-of-discovery-976694.html']
['http://www.msn.com/en-us/news/world/u-s-says-china-talks-on-russia-were-a-substantial-discussion/ar-AAV2aDv']

In [25]:
print(URL_Sample_list1[0] in URL_Sample_list2)

False

In [ ]:
print(URL_Sample_list)

['https://www.chron.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.thehour.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.sfgate.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.darientimes.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.seattlepi.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.nhregister.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.theridgefieldpress.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.ctpost.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php', 'https://www.ctinsider.com/news/article/Stacey-Abrams-says-she-s-more-ready-to-be-Georgia-17002287.php']

##Dividing the terminal dates into intervals (of hours/days/weeks/months) (Not Yet Used)

In [ ]:
"""def divide_daterange(datetimes_range_int, interval):
  daterange_divided = []
  scanner = 0

  def divide_daterange_hour(datetimes_range_int):
    hour = (datetimes_range_int[scanner] // 10**len(MMSS) ) % (10**len(HH))
    hourly_interval = []
    while (hour == (datetimes_range_int[scanner] // 10**len(MMSS) ) % (10**len(HH))):
      hourly_interval.append(datetimes_range_int[scanner])
      scanner += 1
    return hourly_interval 

  def divide_daterange_day(datetimes_range_int):
    day = (datetimes_range_int[scanner] // 10**len(HHMMSS) ) % (10**len(DD))
    daily_interval = []
    while (day == (datetimes_range_int[scanner] // 10**len(HHMMSS) ) % (10**len(DD))):
      daily_interval.append(datetimes_range_int[scanner])
      scanner += 1
    return daily_interval 
  
  def divide_daterange_week(datetimes_range_int):


  return daterange_divided"""

##For referencing

In [61]:
for i in range(len(df_export_agg)):
  print("Export file of " + scanned_export_filenames[i])
  with pd.option_context('display.max_rows', None,'display.max_columns', None): #'display.precision', 2,/#'display.max_colwidth', -1)
    #display(df_export_aggregate[i])
    #display(df_export_aggregate[i].sort_values('GLOBALEVENTID,INTEGER', ascending=False))
    #display(df_export_aggregate[i].sort_values('NumMentions,INTEGER', ascending=False))
    #display(df_export_aggregate[i].sort_values('DATEADDED,INTEGER', ascending=True))
    df = df_export_agg[i]
    #display(df.loc[(df['GLOBALEVENTID,INTEGER'] == 1033866648) | (df['GLOBALEVENTID,INTEGER'] == 1033866647)]) #Running for georgia governor event 
    display(df.loc[(df['Actor1CountryCode,STRING'] == "RUS") & (df['Actor2CountryCode,STRING'] == "UKR") | (df['NumMentions,INTEGER'] != df['NumArticles,INTEGER'])])
    #display(df.loc[(df['GLOBALEVENTID,INTEGER'] == 1033866326) | (df['GLOBALEVENTID,INTEGER'] == 1033864495)]) #1033866326 has a mention of grade (1,10) while that of 1033864495 has a grade of (1,80)
    #display(df.loc[(df['SOURCEURL,STRING'] == "https://www.newstimes.com/news/article/Lawmakers-to-vote-on-fix-to-increase-UC-Berkeley-17001401.php")])

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315021500.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
72,1033864079,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,100,100,10,3,-5.0,12,1,6,-1.882845,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Fulani, Zamfara, Nigeria",NI,NI57,191424,12.265800,6.63738,-2029580,4,"Fulani, Zamfara, Nigeria",NI,NI57,191424,12.265800,6.63738,-2029580,20220315021500,https://www.vanguardngr.com/2022/03/worsening-...
255,1033864262,20220315,202203,2022,2022.2055,BUS,COMPANIES,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,20,1,10,1.005747,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.96960,WV,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.96960,WV,20220315021500,https://www.wvgazettemail.com/news/2022-broadb...
295,1033864302,20220315,202203,2022,2022.2055,CAN,CANADA,CAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,128,128,12,3,-5.0,8,1,4,-0.845070,1,Canada,CA,CA,NaN,60.000000,-96.00000,CA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Canada,CA,CA,NaN,60.000000,-96.00000,CA,20220315021500,https://www.chathamdailynews.ca/fp-work/unifor...
377,1033864384,20220315,202203,2022,2022.2055,COP,STATE PRISON,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,5,1,4,-5.574324,3,"Johnstown, Pennsylvania, United States",US,USPA,PA075,40.278400,-76.31630,1178131,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Johnstown, Pennsylvania, United States",US,USPA,PA075,40.278400,-76.31630,1178131,20220315021500,https://www.tribdem.com/news/man-convicted-in-...
474,1033864481,20220315,202203,2022,2022.2055,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14,14,1,1,0.0,15,2,12,-2.266034,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.895100,-77.03640,531871,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.895100,-77.03640,531871,20220315021500,https://www.kgw.com/article/news/education/ore...
507,1033864514,20220315,202203,2022,2022.2055,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,USA,FLORIDA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,141,141,14,3,-6.5,13,1,9,0.086881,2,"Massachusetts, United States",US,USMA,NaN,42.237300,-71.53140,MA,2,"Florida, United States",US,USFL,NaN,27.833300,-81.71700,FL,2,"Massachusetts, United States",US,USMA,NaN,42.237300,-71.53140,MA,20220315021500,https://www.jpost.com/judaism/article-701298
565,1033864572,20220315,202203,2022,2022.2055,GBR,BRITISH,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GBRBUS,UNITED KINGDOM,GBR,NaN,NaN,NaN,NaN,BUS,NaN,NaN,1,20,20,2,1,3.0,8,1,4,-0.922509,4,"Heathrow, Hillingdon, United Kingdom",UK,UKF9,40133,51.466700,-0.45000,-2598406,4,"Heathrow, Hillingdon, United Kingdom",UK,UKF9,40133,51.466700,-0.45000,-2598406,4,"Heathrow, Hillingdon, United Kingdom",UK,UKF9,40133,51.466700,-0.45000,-2598406,20220315021500,https://www.traveller.com.au/british-airways-v...
573,1033864580,20220315,202203,2022,2022.2055,GBRBUS,BRITISH,GBR,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,12,1,6,-0.922509,4,"Heathrow, Hillingdon, United Kingdom",UK,UKF9,40133,51.466700,-0.45000,-2598406,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Heathrow, Hillingdon, United Kingdom",UK,UKF9,40133,51.466700,-0.45000,-2598406,20220315021500,https://www.traveller.com.au/british-airways-v...
591,1033864598,20220315,202203,2022,2022.2055,GOV,FIREFIGHTER,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,51,5,1,3.4,8,1,4,-4.462475,2,"Michigan, United States",US,USMI,NaN,43.350400,-84.56030,MI,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Michigan, United States",US,USMI,NaN,43.350400,-84.56030,MI,20220315021500,https://www.wfaa.com/article/news/local/140-mi...
1015,1033865022,20220315,202203,2022,2022.2055,NGA,NIGERIA,NGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,100,100,10,3,-5.0,3,1,2,-1.882845,4,"Benue, Nigeria (general), Nigeria",NI,NI00,191172,8.316670,8.51667,-2002531,4,"Benue, Nigeria (general), Nigeria",NI,NI00,191172,8.316670,8.51667,-2002531,4,"Benue, Nigeria (general), Nigeria",NI,NI00,191172,8.316670,8.51667,-2002531,20220315021500,https://www.vanguardngr.com/2022/03/worsening-...
1085,1033865092,20220315,202203,2022,2022.2055,PAN,PANAMA,PAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,8,1,7,-2.323232,4,"Panama Canal, Panama (general), Panama",PM,PM00,93681,9.333330,-79.91670,-168010,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Panama Canal, Panama (general), Panama",PM,PM00,93681,9.333330,-79.91670,-168010,20220315021500,https://collive.com/how-chabad-shluchim-endure...
1182,1033865189,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,2,2,2,-1.607717,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://www.kxlh.com/um-hosts-international-ac...
1183,1033865190,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,4,1,4,-6.024096,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.03050,-1045268,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.03050,-1045268,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.03050,-1045268,20220315021500,http://usa.chinadaily.com.cn/a/202203/15/WS622...
1184,1033865191,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,2,1,2,-3.614458,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://www.deccanherald.com/international/wor...
1185,1033865192,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,2,1,2,-0.431034,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,3,"Holy Trinity Church, Pennsylvania, United States",US,USPA,NaN,39.876800,-75.36130,1177306,20220315021500,https://www.fox43.com/article/news/local/ukrai...
1186,1033865193,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,1,1,1,-3.614458,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://www.deccanherald.com/international/wor...
1187,1033865194,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,3,1,3,-3.614458,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://www.deccanherald.com/international/wor...
1188,1033865195,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,1,1,1,-3.614458,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://www.deccanherald.com/international/wor...
1189,1033865196,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,111,111,11,3,-2.0,2,1,2,-6.345178,4,"Idlib, Idlib, Syria",SY,SY12,26365,35.930600,36.63390,-2542538,4,"Idlib, Idlib, Syria",SY,SY12,26365,35.930600,36.63390,-2542538,4,"Idlib, Idlib, Syria",SY,SY12,26365,35.930600,36.63390,-2542538,20220315021500,https://www.hrw.org/news/2022/03/14/syrians-wa...
1190,1033865197,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,180,180,18,4,-9.0,2,1,2,-8.571429,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,20220315021500,https://www.newscientist.com/article/2312213-h...
1191,1033865198,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,180,180,18,4,-9.0,2,1,2,-8.571429,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,20220315021500,https://www.newscientist.com/article/2312213-h...
1192,1033865199,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,180,180,18,4,-9.0,2,1,2,-2.777778,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://africa.businessinsider.com/politics/pu...
1193,1033865200,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,180,180,18,4,-9.0,1,1,1,-2.777778,1,Belarus,BO,BO,NaN,53.000000,28.00000,BO,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://africa.businessinsider.com/politics/pu...
1194,1033865201,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,2,1,2,-5.555556,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://zeenews.india.com/world/elon-musk-chal...
1195,1033865202,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,1,1,1,-2.777778,1,Belarus,BO,BO,NaN,53.000000,28.00000,BO,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,1,Belarus,BO,BO,NaN,53.000000,28.00000,BO,20220315021500,https://africa.businessinsider.com/politics/pu...
1196,1033865203,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,KYIV,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,192,192,19,4,-9.5,2,1,2,-4.036598,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,20220315021500,https://www.washingtonpost.com/world/2022/03/1...
1206,1033865213,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USAMED,REUTERS,USA,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,13,13,1,1,0.4,3,1,2,-2.777778,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://africa.businessinsider.com/politics/pu...
1215,1033865222,20220315,202203,2022,2022.2055,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,1,1,1,-3.614458,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.61560,-2960561,20220315021500,https://www.deccanherald.com/international/wor...
1216,1033865223,20220315,202203,2022,2022.2055,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,1,1,1,-3.614458,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://www.deccanherald.com/international/wor...
1217,1033865224,20220315,202203,2022,2022.2055,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,2,1,2,-6.906907,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.51670,-1044367,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,20220315021500,https://www.fox4news.com/news/elon-musk-challe...
1218,1033865225,20220315,202203,2022,2022.2055,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,3,1,3,-5.154639,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,20220315021500,https://switzer.com.au/the-experts/switzer-dai...
1219,1033865226,20220315,202203,2022,2022.2055,RUSGOV,RUSSIA,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,1,1,1,-5.154639,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://switzer.com.au/the-experts/switzer-dai...
1220,1033865227,20220315,202203,2022,2022.2055,RUSGOV,RUSSIA,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,1,1,1,-5.154639,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Russia,RS,RS,NaN,60.000000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://switzer.com.au/the-experts/switzer-dai...
1221,1033865228,20220315,202203,2022,2022.2055,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,3,1,3,-5.555556,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://zeenews.india.com/world/elon-musk-chal...
1248,1033865255,20220315,202203,2022,2022.2055,SGP,SINGAPORE,SGP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MED,PUBLISHER,NaN,NaN,NaN,NaN,NaN,MED,NaN,NaN,0,10,10,1,1,0.0,6,1,4,0.153257,1,Singapore,SN,SN,NaN,1.366667,103.80000,SN,1,Singapore,SN,SN,NaN,1.366667,103.80000,SN,1,Singapore,SN,SN,NaN,1.366667,103.80000,SN,20220315021500,https://www.marketing-interactive.com/ssp-bran...
1314,1033865321,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CVL,COMMUNITY,NaN,NaN,NaN,NaN,NaN,CVL,NaN,NaN,1,43,43,4,1,2.8,20,1,10,-0.431034,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.00000,UP,20220315021500,https://www.fox43.com/article/news/local/ukrai...
1408,1033865415,20220315,202203,2022,2022.2055,USA,MIAMI,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,51,5,1,3.4,14,1,10,7.563025,3,"Buckhead, Florida, United States",US,USFL,FL013,30.393300,-85.26460,279564,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Buckhead, Florida, United States",US,USFL,FL013,30.393300,-85.26460,279564,20220315021500,https://www.mdjonline.com/neighbor_newspapers/...
1442,1033865449,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,172,172,17,4,-5.0,12,1,7,6.593407,3,"Grand Junction, Colorado, United States",US,USCO,CO077,39.063900,-108.55100,204662,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Grand Junction, Colorado, United States",US,USCO,NaN,39.063900,-108.55100,204662,20220315021500,https://kekbfm.com/grand-junction-colorado-bes...
1498,1033865505,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,14,14,1,1,0.0,8,2,6,-3.005255,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.895100,-77.03640,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.895100,-77.03640,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.895100,-77.03640,531871,20220315021500,https://www.ksdk.com/article/news/politics/rep...
1626,1033865633,20220315,202203,2022,2022.2055,USA,PHILADELPHIA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USAEDU,UNITED STATES,USA,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,193,193,19,4,-10.0,4,1,2,-7.936508,3,"Philadelphia, Pennsylvania, United States",US,USPA,PA101,39.952300,-75.16380,1209052,3,"Philadelphia, Pennsylvania, United States",US,USPA,PA101,39.952300,-75.16380,1209052,3,"Philadelphia, Pennsylvania, United States",US,USPA,PA101,39.952300,-75.16380,1209052,20220315021500,https://www.nbcphiladelphia.com/tag/crane-coll...
1633,1033865640,20220315,202203,2022,2022.2055,USA,ILLINOIS,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USALEG,UNITED STATES,USA,NaN,NaN,NaN,NaN,LEG,NaN,NaN,1,71,71,7,2,7.4,6,1,4,-5.063291,2,"Illinois, United States",US,USIL,NaN,40.336300,-89.00220,IL,2,"Illinois, United States",US,USIL,NaN,40.336300,-89.00220,IL,2,"Illinois, United States",US,USIL,NaN,40.336300,-89.00220,IL,20220315021500,https://www.thecentersquare.com/illinois/illin...

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315023000.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
12,1033866263,20220213,202202,2022,2022.1178,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,173,173,17,4,-5.0,4,1,2,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
102,1033866353,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VNM,VIETNAM,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,6,1,4,-4.855842,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,"Vietnam, Republic Of",VM,VM,NaN,16.166667,107.833333,VM,1,"Vietnam, Republic Of",VM,VM,NaN,16.166667,107.833333,VM,20220315023000,https://dailyridge.com/2016/07/21/drunk-man-as...
143,1033866394,20220315,202203,2022,2022.2055,BUS,BUSINESS,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,22,1,10,-1.612903,3,"Pinellas Park, Florida, United States",US,USFL,FL103,27.84280,-82.69950,288936,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Pinellas Park, Florida, United States",US,USFL,NaN,27.842800,-82.699500,288936,20220315023000,https://www.abcactionnews.com/news/region-pine...
144,1033866395,20220315,202203,2022,2022.2055,BUS,BUSINESS,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,8,1,4,-1.612903,2,"Florida, United States",US,USFL,NaN,27.83330,-81.71700,FL,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Florida, United States",US,USFL,NaN,27.833300,-81.717000,FL,20220315023000,https://www.abcactionnews.com/news/region-pine...
290,1033866541,20220315,202203,2022,2022.2055,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,55,55,5,1,7.0,8,1,4,-5.083460,3,"Chatham County, North Carolina, United States",US,USNC,NC037,35.70010,-79.26640,1008544,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Chatham County, North Carolina, United States",US,USNC,NaN,35.700100,-79.266400,1008544,20220315023000,https://www.msn.com/en-us/news/us/an-apology-c...
291,1033866542,20220315,202203,2022,2022.2055,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,55,55,5,1,7.0,12,1,6,-5.083460,3,"Raleigh, North Carolina, United States",US,USNC,NC183,35.77210,-78.63860,1024242,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Raleigh, North Carolina, United States",US,USNC,NC183,35.772100,-78.638600,1024242,20220315023000,https://www.msn.com/en-us/news/us/an-apology-c...
372,1033866623,20220315,202203,2022,2022.2055,GOV,ATTORNEY GENERAL,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,JUD,ATTORNEY,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,0,40,40,4,1,1.0,6,1,3,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
442,1033866693,20220315,202203,2022,2022.2055,ISR,ISRAEL,ISR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,7,1,4,2.291667,4,"Jerusalem, Israel (general), Israel",IS,IS00,18315,31.76670,35.23330,-797092,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Jerusalem, Israel (general), Israel",IS,IS00,18315,31.766700,35.233300,-797092,20220315023000,https://www.broadwayworld.com/boston/article/R...
476,1033866727,20220315,202203,2022,2022.2055,JUD,ATTORNEY,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,GOV,ATTORNEY GENERAL,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,40,40,4,1,1.0,6,1,3,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
477,1033866728,20220315,202203,2022,2022.2055,JUD,ATTORNEY,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,90,90,9,2,-2.0,13,1,8,0.797166,2,"South Carolina, United States",US,USSC,NaN,33.81910,-80.90660,SC,2,"South Carolina, United States",US,USSC,NaN,33.819100,-80.906600,SC,2,"South Carolina, United States",US,USSC,NaN,33.819100,-80.906600,SC,20220315023000,https://thetandd.com/news/local/attorney-calls...
479,1033866730,20220315,202203,2022,2022.2055,JUD,ATTORNEY,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,8,1,4,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
499,1033866750,20220315,202203,2022,2022.2055,LBN,LEBANON,LBN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REF,REFUGEE,NaN,NaN,NaN,NaN,NaN,REF,NaN,NaN,1,43,43,4,1,2.8,12,1,10,-2.702703,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.87190,35.50970,-801546,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.871900,35.509700,-801546,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.871900,35.509700,-801546,20220315023000,https://english.news.cn/20220314/4c97fd74de214...
554,1033866805,20220315,202203,2022,2022.2055,NGA,NIGERIA,NGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,125,125,12,3,-5.0,6,1,4,-3.849679,4,"Abuja, Abuja Federal Capital Territory, Nigeria",NI,NI11,191147,9.08333,7.53333,-1997013,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Abuja, Abuja Federal Capital Territory, Nigeria",NI,NI11,191147,9.083330,7.533330,-1997013,20220315023000,https://punchng.com/asuu-extends-strike-to-may...
598,1033866849,20220315,202203,2022,2022.2055,REF,REFUGEE,NaN,NaN,NaN,NaN,NaN,REF,NaN,NaN,LBN,LEBANON,LBN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,12,1,10,-2.702703,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.87190,35.50970,-801546,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.871900,35.509700,-801546,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.871900,35.509700,-801546,20220315023000,https://english.news.cn/20220314/4c97fd74de214...
636,1033866887,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MEX,MEXICO,MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,16,1,8,-6.032045,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.61560,-2960561,4,"Tijuana, Baja California, Mexico",MX,MX02,19588,32.533300,-117.017000,-1705741,4,"Tijuana, Baja California, Mexico",MX,MX02,19588,32.533300,-117.017000,-1705741,20220315023000,https://www.5newsonline.com/article/news/natio...
656,1033866907,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,60,60,6,2,6.0,5,1,5,1.388889,1,Russia,RS,RS,NaN,60.00000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,1,China,CH,CH,NaN,35.000000,105.000000,CH,20220315023000,https://www.business-standard.com/article/inte...
657,1033866908,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,112,112,11,3,-2.0,6,1,6,-3.878583,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.75220,37.61560,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,20220315023000,https://www.msn.com/en-us/news/world/us-warns-...
658,1033866909,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,180,180,18,4,-9.0,2,1,2,-1.811125,2,"Nebraska, United States",US,USNE,NaN,41.12890,-98.28830,NE,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.615600,-2960561,2,"Nebraska, United States",US,USNE,NaN,41.128900,-98.288300,NE,20220315023000,https://siouxcityjournal.com/news/state-and-re...
670,1033866921,20220315,202203,2022,2022.2055,RUSGOV,RUSSIA,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,2,1,2,-1.307190,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.615600,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.615600,-2960561,20220315023000,https://asianews.network/why-india-abstained-w...
675,1033866926,20220315,202203,2022,2022.2055,SIK,SIKH,NaN,NaN,NaN,SIK,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,20,20,2,1,3.0,20,1,10,-2.688172,3,"Whiteland Community High School, Indiana, Unit...",US,USIN,IN081,39.55200,-86.08390,447487,3,"Whiteland Community High School, Indiana, Unit...",US,USIN,NaN,39.552000,-86.083900,447487,3,"Whiteland Community High School, Indiana, Unit...",US,USIN,NaN,39.552000,-86.083900,447487,20220315023000,https://www.wthr.com/article/news/local/sikh-c...
707,1033866958,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR,EUROPE,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,4,1,2,1.860465,1,Ukraine,UP,UP,NaN,49.00000,32.00000,UP,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.400000,-3.683330,-390625,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.400000,-3.683330,-390625,20220315023000,http://www.fides.org/en/news/71823-EUROPE_SPAI...
708,1033866959,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR,EUROPE,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,16,1,8,1.860465,1,Ukraine,UP,UP,NaN,49.00000,32.00000,UP,4,"Madrid, Madrid, Spain",SP,SP29,25820,40.400000,-3.683330,-390625,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,20220315023000,http://www.fides.org/en/news/71823-EUROPE_SPAI...
739,1033866990,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,12,3,6,-1.781737,1,Ukraine,UP,UP,NaN,49.00000,32.00000,UP,2,"New Mexico, United States",US,USNM,NaN,34.837500,-106.237000,NM,2,"New Mexico, United States",US,USNM,NaN,34.837500,-106.237000,NM,20220315023000,https://www.wtae.com/article/teacher-helps-ukr...
740,1033866991,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,NEW MEXICO,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,27,3,15,-1.781737,1,Ukraine,UP,UP,NaN,49.00000,32.00000,UP,2,"New Mexico, United States",US,USNM,NaN,34.837500,-106.237000,NM,1,Ukraine,UP,UP,NaN,49.000000,32.000000,UP,20220315023000,https://www.wtae.com/article/teacher-helps-ukr...
747,1033866998,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,17,17,1,1,0.0,8,1,4,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
768,1033867019,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,80,80,8,2,5.0,12,1,4,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
771,1033867022,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1014,101,10,3,-5.0,4,1,2,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
783,1033867034,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,8,1,4,-12.885154,3,"Fords Valley, Alabama, United States",US,USAL,AL055,33.96680,-85.85970,149051,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Fords Valley, Alabama, United States",US,USAL,NaN,33.966800,-85.859700,149051,20220315023000,https://www.gadsdentimes.com/story/news/local/...
784,1033867035,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,173,173,17,4,-5.0,4,1,2,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
826,1033867077,20220315,202203,2022,2022.2055,USA,WEST VIRGINIA,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOVHLH,STATE HOSPITAL,NaN,NaN,NaN,NaN,NaN,GOV,HLH,NaN,1,60,60,6,2,6.0,6,1,4,-1.421189,2,"West Virginia, United States",US,USWV,NaN,38.46800,-80.96960,WV,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.969600,WV,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.969600,WV,20220315023000,https://www.register-herald.com/news/state_reg...
835,1033867086,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JUD,ATTORNEY,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,0,40,40,4,1,1.0,8,1,4,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
888,1033867139,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USALEG,UNITED STATES,USA,NaN,NaN,NaN,NaN,LEG,NaN,NaN,0,112,112,11,3,-2.0,4,1,2,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
922,1033867173,20220315,202203,2022,2022.2055,USALEG,UNITED STATES,USA,NaN,NaN,NaN,NaN,LEG,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,14,14,1,1,0.0,4,1,2,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
925,1033867176,20220315,202203,2022,2022.2055,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,NaN,MED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,173,173,17,4,-5.0,12,1,6,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
928,1033867179,20220315,202203,2022,2022.2055,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,NaN,MED,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,173,173,17,4,-5.0,8,1,4,-6.470588,2,"Kentucky, United States",US,USKY,NaN,37.66900,-84.65140,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,2,"Kentucky, United States",US,USKY,NaN,37.669000,-84.651400,KY,20220315023000,https://www.kcra.com/article/breonna-taylor-mo...
929,1033867180,20220315,202203,2022,2022.2055,USAMIL,WEST VIRGINIA,USA,NaN,NaN,NaN,NaN,MIL,NaN,NaN,GOVHLH,STATE HOSPITAL,NaN,NaN,NaN,NaN,NaN,GOV,HLH,NaN,1,60,60,6,2,6.0,14,1,8,-1.421189,2,"West Virginia, United States",US,USWV,NaN,38.46800,-80.96960,WV,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.969600,WV,2,"West Virginia, United States",US,USWV,NaN,38.468000,-80.969600,WV,20220315023000,https://www.register-herald.com/news/state_reg...
934,1033867185,20220315,202203,2022,2022.2055,sco,SCOTTISH,NaN,NaN,sco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,234,23,2,1,3.4,20,1,10,1.108033,1,United Kingdom,UK,UK,NaN,54.00000,-4.00000,UK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,United Kingdom,UK,UK,NaN,54.000000,-4.000000,UK,20220315023000,https://www.thenational.scot/news/19992806.rep...

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315024500.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
21,1033867724,20220308,202203,2022,2022.1863,USA,KANSAS,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JUD,ADVOCATE,NaN,NaN,NaN,NaN,NaN,JUD,NaN,NaN,0,10,10,1,1,0.0,14,1,8,-2.118644,2,"Kansas, United States",US,USKS,NaN,38.5111,-96.80050,KS,2,"Kansas, United States",US,USKS,NaN,38.5111,-96.80050,KS,2,"Kansas, United States",US,USKS,NaN,38.5111,-96.80050,KS,20220315024500,https://www.kmbc.com/article/bill-would-ban-gh...
99,1033867802,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,8,1,7,-7.383628,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Georgia, United States",US,USGA,NaN,32.9866,-83.64870,GA,2,"Georgia, United States",US,USGA,NaN,32.9866,-83.64870,GA,20220315024500,https://www.fox5atlanta.com/news/house-bill-wo...
238,1033867941,20220315,202203,2022,2022.2055,COP,POLICE,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,IRLGOVMIL,MICHAEL SMITH,IRL,NaN,NaN,NaN,NaN,GOV,MIL,NaN,1,173,173,17,4,-5.0,9,1,6,-8.137432,3,"Baker County, Oregon, United States",US,USOR,OR001,44.7502,-117.66800,1135845,3,"Baker County, Oregon, United States",US,USOR,NaN,44.7502,-117.66800,1135845,3,"Baker County, Oregon, United States",US,USOR,NaN,44.7502,-117.66800,1135845,20220315024500,https://www.lagrandeobserver.com/news/local/ma...
239,1033867942,20220315,202203,2022,2022.2055,COP,POLICE,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,IRLGOVMIL,MICHAEL SMITH,IRL,NaN,NaN,NaN,NaN,GOV,MIL,NaN,1,173,173,17,4,-5.0,5,1,4,-8.137432,3,"Baker City, Oregon, United States",US,USOR,OR001,44.7749,-117.83400,1167694,3,"Baker City, Oregon, United States",US,USOR,NaN,44.7749,-117.83400,1167694,3,"Baker City, Oregon, United States",US,USOR,NaN,44.7749,-117.83400,1167694,20220315024500,https://www.lagrandeobserver.com/news/local/ma...
246,1033867949,20220315,202203,2022,2022.2055,COP,POLICE,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,3,1,2,-8.137432,3,"Baker City, Oregon, United States",US,USOR,OR001,44.7749,-117.83400,1167694,3,"Baker City, Oregon, United States",US,USOR,NaN,44.7749,-117.83400,1167694,3,"Baker City, Oregon, United States",US,USOR,NaN,44.7749,-117.83400,1167694,20220315024500,https://www.lagrandeobserver.com/news/local/ma...
360,1033868063,20220315,202203,2022,2022.2055,GOV,DIRECTOR GENERAL,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NZL,AUCKLAND,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,20,1,10,-2.352941,4,"Wellington, New Zealand (general), New Zealand",NZ,NZ00,22391,-41.3000,174.78300,-1521348,4,"Wellington, New Zealand (general), New Zealand",NZ,NZ00,22391,-41.3000,174.78300,-1521348,4,"Wellington, New Zealand (general), New Zealand",NZ,NZ00,22391,-41.3000,174.78300,-1521348,20220315024500,http://www.msn.com/en-nz/news/australia/auckla...
408,1033868111,20220315,202203,2022,2022.2055,IGOWSTNAT,NATO,WST,NAT,NaN,NaN,NaN,IGO,NaN,NaN,BEL,BRUSSELS,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,14,1,10,-4.166667,4,"Brussels, Bruxelles-Capitale, Belgium",BE,BE11,5850,50.8333,4.33333,-1955538,4,"Brussels, Bruxelles-Capitale, Belgium",BE,BE11,5850,50.8333,4.33333,-1955538,4,"Brussels, Bruxelles-Capitale, Belgium",BE,BE11,5850,50.8333,4.33333,-1955538,20220315024500,https://www.wiredprnews.com/biden-expected-to-...
442,1033868145,20220315,202203,2022,2022.2055,JPN,JAPAN,JPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,50,50,5,1,3.5,12,1,10,-2.218115,4,"Tokyo, Tokyo, Japan",JA,JA40,36340,35.6850,139.75100,-246227,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Tokyo, Tokyo, Japan",JA,JA40,36340,35.6850,139.75100,-246227,20220315024500,https://www.eastwestcenter.org/news-center/eas...
488,1033868191,20220315,202203,2022,2022.2055,LEG,SENATE,NaN,NaN,NaN,NaN,NaN,LEG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,81,81,8,2,5.0,13,1,10,-1.065891,2,"New York, United States",US,USNY,NaN,42.1497,-74.93840,NY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"New York, United States",US,USNY,NaN,42.1497,-74.93840,NY,20220315024500,https://www.insidernj.com/press-release/booker...
628,1033868331,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,2,1,2,3.731343,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,20220315024500,http://www.ecns.cn/news/2022-03-15/detail-ihaw...
629,1033868332,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,8,1,8,-3.051392,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,20220315024500,https://www.wiredprnews.com/russia-ukraine-liv...
630,1033868333,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,2,1,2,-3.051392,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,20220315024500,https://www.wiredprnews.com/russia-ukraine-liv...
631,1033868334,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,10,1,10,0.000000,1,China,CH,CH,NaN,35.0000,105.00000,CH,1,China,CH,CH,NaN,35.0000,105.00000,CH,1,China,CH,CH,NaN,35.0000,105.00000,CH,20220315024500,http://www.china.org.cn/world/2022-03/15/conte...
632,1033868335,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,2,1,2,-3.465347,4,"Poona, Maharashtra, India",IN,IN16,70178,18.5333,73.86670,-2108361,4,"Poona, Maharashtra, India",IN,IN16,70178,18.5333,73.86670,-2108361,4,"Poona, Maharashtra, India",IN,IN16,70178,18.5333,73.86670,-2108361,20220315024500,https://news.webindia123.com/news/Articles/Ind...
633,1033868336,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,8,1,8,-3.465347,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,20220315024500,https://news.webindia123.com/news/Articles/Ind...
634,1033868337,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,8,1,8,-4.240283,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,20220315024500,https://calgary.ctvnews.ca/we-must-do-everythi...
635,1033868338,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,2,1,2,-4.240283,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,20220315024500,https://calgary.ctvnews.ca/we-must-do-everythi...
636,1033868339,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,80,80,8,2,5.0,1,1,1,1.015228,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.31710,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.31710,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.31710,-1045160,20220315024500,https://nationalinterest.org/blog/buzz/azerbai...
637,1033868340,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,80,80,8,2,5.0,4,1,4,1.015228,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.31710,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.31710,-1045160,20220315024500,https://nationalinterest.org/blog/buzz/azerbai...
638,1033868341,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,85,85,8,2,7.0,4,1,4,-6.233062,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
639,1033868342,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,182,182,18,4,-9.5,2,1,2,-6.233062,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Rivne, Rivnens'ka Oblast', Ukraine",UP,UP19,28560,50.6231,26.22740,-1052247,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
640,1033868343,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,7,1,7,-4.166667,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,20220315024500,https://www.wiredprnews.com/biden-expected-to-...
641,1033868344,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,1,1,1,-4.166667,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Ukraine,UP,UP,NaN,49.0000,32.00000,UP,20220315024500,https://www.wiredprnews.com/biden-expected-to-...
642,1033868345,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMED,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,85,85,8,2,7.0,3,1,3,-6.233062,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
643,1033868346,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMED,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,164,164,16,4,-7.0,3,1,3,-6.233062,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
653,1033868356,20220315,202203,2022,2022.2055,RUSGOV,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,RUSGOV,VLADIMIR PUTIN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,40,40,4,1,1.0,6,1,3,-2.906977,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,20220315024500,https://www.abcactionnews.com/news/national/ru...
654,1033868357,20220315,202203,2022,2022.2055,RUSGOV,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,3,1,3,3.731343,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,1,Russia,RS,RS,NaN,60.0000,100.00000,RS,20220315024500,http://www.ecns.cn/news/2022-03-15/detail-ihaw...
655,1033868358,20220315,202203,2022,2022.2055,RUSGOV,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,4,1,4,-4.524887,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Kharkiv, Kharkivs'ka Oblast', Ukraine",UP,UP07,25036,49.9808,36.25270,-1041320,4,"Kharkiv, Kharkivs'ka Oblast', Ukraine",UP,UP07,25036,49.9808,36.25270,-1041320,20220315024500,https://www.appeal-democrat.com/news/attacks-h...
656,1033868359,20220315,202203,2022,2022.2055,RUSGOV,RUSSIA,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,2,1,2,-4.524887,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Kharkiv, Kharkivs'ka Oblast', Ukraine",UP,UP07,25036,49.9808,36.25270,-1041320,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,20220315024500,https://www.appeal-democrat.com/news/attacks-h...
660,1033868363,20220315,202203,2022,2022.2055,RUSLEG,RUSSIAN,RUS,NaN,NaN,NaN,NaN,LEG,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,3,1,3,-6.233062,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.61560,-2960561,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
661,1033868364,20220315,202203,2022,2022.2055,SAU,SAUDI ARABIA,SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,11,1,7,0.389105,4,"Riyadh, Ar Riya?, Saudi Arabia",SA,SA10,25316,24.6408,46.77280,-3093009,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,20220315024500,http://www.msn.com/en-us/news/world/saudi-arab...
662,1033868365,20220315,202203,2022,2022.2055,SAU,SAUDI ARABIA,SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,3,1,2,0.389105,4,"Riyadh, Ar Riya?, Saudi Arabia",SA,SA10,25316,24.6408,46.77280,-3093009,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.38800,-1898541,4,"Riyadh, Ar Riya?, Saudi Arabia",SA,SA10,25316,24.6408,46.77280,-3093009,20220315024500,http://www.msn.com/en-us/news/world/saudi-arab...
720,1033868423,20220315,202203,2022,2022.2055,UKR,KYIV,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMED,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,85,85,8,2,7.0,10,1,8,-6.233062,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.51670,-1044367,20220315024500,https://www.urdupoint.com/en/world/russia-ukra...
734,1033868437,20220315,202203,2022,2022.2055,USA,LAWRENCE,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,11,1,7,-2.189266,3,"Bucks County, Pennsylvania, United States",US,USPA,PA017,40.5004,-75.37490,1209173,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Bucks County, Pennsylvania, United States",US,USPA,NaN,40.5004,-75.37490,1209173,20220315024500,https://www.goerie.com/story/news/state/2022/0...
786,1033868489,20220315,202203,2022,2022.2055,USA,HOUSTON,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,120,120,12,3,-4.0,9,1,8,-3.125000,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,20220315024500,https://www.si.com/nfl/2022/03/14/report-texan...
791,1033868494,20220315,202203,2022,2022.2055,USA,KANSAS CITY,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,172,172,17,4,-5.0,12,1,10,-2.118644,2,"Kansas, United States",US,USKS,NaN,38.5111,-96.80050,KS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Topeka, Kansas, United States",US,USKS,KS177,39.0483,-95.67800,485477,20220315024500,https://www.kmbc.com/article/bill-would-ban-gh...
801,1033868504,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,193,193,19,4,-10.0,4,1,2,-2.118644,2,"Kansas, United States",US,USKS,NaN,38.5111,-96.80050,KS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Olathe, Kansas, United States",US,USKS,KS091,38.8814,-94.81910,479198,20220315024500,https://www.kmbc.com/article/bill-would-ban-gh...
886,1033868589,20220315,202203,2022,2022.2055,USACOP,HOUSTON,USA,NaN,NaN,NaN,NaN,COP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,50,50,5,1,3.5,9,1,6,-6.169666,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,20220315024500,https://kesq.com/news/national-world/cnn-natio...
888,1033868591,20220315,202203,2022,2022.2055,USACOP,HOUSTON,USA,NaN,NaN,NaN,NaN,COP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,193,193,19,4,-10.0,9,1,6,-6.169666,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Houston, Texas, United States",US,USTX,TX201,29.7633,-95.36330,1380948,20220315024500,https://kesq.com/news/national-world/cnn-natio...

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315030000.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
9,1033868656,20220213,202202,2022,2022.1178,RUSGOV,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,6,1,6,-9.570552,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.615600,-2960561,20220315030000,https://www.digitaljournal.com/world/german-ww...
56,1033868703,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,11,1,8,-3.030303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Guangdong, Jilin, China",CH,CH05,13176,42.76830,129.3360,10884162,4,"Guangdong, Jilin, China",CH,CH05,13176,42.76830,129.336000,10884162,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997108...
57,1033868704,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,20,1,8,-3.030303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Guangdong, Jilin, China",CH,CH05,13176,42.76830,129.3360,10884162,1,Hong Kong,HK,HK,NaN,22.25000,114.166667,HK,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997108...
83,1033868730,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDN,INDONESIA,IDN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,12,1,10,3.365385,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Labuan Bajo, Sulawesi Tengah, Indonesia",ID,ID21,18585,-0.06320,120.0360,-2683970,4,"Labuan Bajo, Sulawesi Tengah, Indonesia",ID,ID21,18585,-0.06320,120.036000,-2683970,20220315030000,https://en.vietnamplus.vn/cambodia-announces-i...
138,1033868785,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,10,1,4,-10.784314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Charlestown, Rhode Island, United States",US,USRI,RI009,41.38320,-71.6417,1217684,3,"Charlestown, Rhode Island, United States",US,USRI,RI009,41.38320,-71.641700,1217684,20220315030000,https://www.thewesterlysun.com/news/police-cou...
188,1033868835,20220315,202203,2022,2022.2055,AUS,AUSTRALIA,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,UNIVERSITY,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,0,90,90,9,2,-2.0,8,1,4,-4.804612,4,"Sydney, New South Wales, Australia",AS,AS02,154637,-33.88330,151.2170,-1603135,4,"Sydney, New South Wales, Australia",AS,AS02,154637,-33.88330,151.2170,-1603135,4,"Sydney, New South Wales, Australia",AS,AS02,154637,-33.88330,151.217000,-1603135,20220315030000,https://www.9news.com.au/national/like-a-ticki...
201,1033868848,20220315,202203,2022,2022.2055,AUT,VIENNA,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,COLLEGE,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,43,43,4,1,2.8,20,1,10,-2.616279,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.3667,-1995499,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.3667,-1995499,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.366700,-1995499,20220315030000,https://www.jpost.com/diaspora/article-701304
254,1033868901,20220315,202203,2022,2022.2055,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,7,1,2,-3.030303,4,"Guangdong, Jilin, China",CH,CH05,13176,42.76830,129.3360,10884162,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Guangdong, Jilin, China",CH,CH05,13176,42.76830,129.336000,10884162,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997108...
262,1033868909,20220315,202203,2022,2022.2055,CHN,SHANGHAI,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,191,191,19,4,-9.5,20,1,10,-11.363636,4,"Shanghai, Shanghai, China",CH,CH23,13243,31.22220,121.4580,-1924465,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Shanghai, Shanghai, China",CH,CH23,13243,31.22220,121.458000,-1924465,20220315030000,http://www.msn.com/en-us/news/world/shanghai-s...
327,1033868974,20220315,202203,2022,2022.2055,COP,CONSTABLE,NaN,NaN,NaN,NaN,NaN,COP,NaN,NaN,AUS,AUSTRALIA,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,193,193,19,4,-10.0,3,1,2,-10.187668,5,"Northern Territory, Northern Territory, Australia",AS,AS03,40197,-20.00000,134.0000,-1592100,5,"Northern Territory, Northern Territory, Australia",AS,AS03,40197,-20.00000,134.0000,-1592100,5,"Northern Territory, Northern Territory, Australia",AS,AS03,40197,-20.00000,134.000000,-1592100,20220315030000,https://www.crikey.com.au/2022/03/15/zachary-r...
382,1033869029,20220315,202203,2022,2022.2055,DEU,GERMANY,DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,3,1,2,-9.570552,4,"Munich, Bayern, Germany",GM,GM02,16532,48.15000,11.5833,-1829149,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Munich, Bayern, Germany",GM,GM02,16532,48.15000,11.583300,-1829149,20220315030000,https://www.digitaljournal.com/world/german-ww...
406,1033869053,20220315,202203,2022,2022.2055,EDU,UNIVERSITY,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,90,90,9,2,-2.0,12,1,6,-4.804612,4,"Sydney, New South Wales, Australia",AS,AS02,154637,-33.88330,151.2170,-1603135,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Sydney, New South Wales, Australia",AS,AS02,154637,-33.88330,151.217000,-1603135,20220315030000,https://www.9news.com.au/national/like-a-ticki...
412,1033869059,20220315,202203,2022,2022.2055,EDU,COLLEGE,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,AUT,VIENNA,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,12,1,10,-2.616279,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.3667,-1995499,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.3667,-1995499,4,"Vienna, Wien, Austria",AU,AU09,5672,48.20000,16.366700,-1995499,20220315030000,https://www.jpost.com/diaspora/article-701304
491,1033869138,20220315,202203,2022,2022.2055,GOV,ENVOY,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,50,50,5,1,3.5,9,1,5,1.319648,4,"Delhi, Delhi, India",IN,IN07,17911,28.66670,77.2167,-2094230,4,"Qian Feng, Sichuan, China",CH,CH32,13003,31.72470,107.1310,10325654,4,"Delhi, Delhi, India",IN,IN07,17911,28.66670,77.216700,-2094230,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997117...
523,1033869170,20220315,202203,2022,2022.2055,GOV,MAYOR,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,111,111,11,3,-2.0,4,1,2,-8.865248,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.89510,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.89510,-77.0364,531871,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.89510,-77.036400,531871,20220315030000,https://www.nbcnewyork.com/news/local/70k-rewa...
574,1033869221,20220315,202203,2022,2022.2055,ITA,ROME,ITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINESE,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,12,1,6,-0.540541,4,"Rome, Lazio, Italy",IT,IT07,18350,41.90000,12.4833,-126693,4,"Desheng, Sichuan, China",CH,CH32,13003,31.80300,107.1360,-1903272,4,"Rome, Lazio, Italy",IT,IT07,18350,41.90000,12.483300,-126693,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997116...
575,1033869222,20220315,202203,2022,2022.2055,ITA,ITALY,ITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINA,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,2,1,1,-0.540541,4,"Rome, Lazio, Italy",IT,IT07,18350,41.90000,12.4833,-126693,4,"Desheng, Sichuan, China",CH,CH32,13003,31.80300,107.1360,-1903272,4,"Desheng, Sichuan, China",CH,CH32,13003,31.80300,107.136000,-1903272,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997116...
649,1033869296,20220315,202203,2022,2022.2055,LKA,COLOMBO,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAU,SAUDI,SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,12,1,10,2.601626,4,"Colombo, Western, Sri Lanka",CE,CE36,25852,6.93194,79.8478,-2214877,4,"Jeddah, Makkah, Saudi Arabia",SA,SA14,25312,21.51690,39.2192,-3096108,4,"Colombo, Western, Sri Lanka",CE,CE36,25852,6.93194,79.847800,-2214877,20220315030000,http://www.dailynews.lk/2022/03/15/local/27482...
738,1033869385,20220315,202203,2022,2022.2055,PHL,MANILA,PHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PTY,PRESIDENTIAL CANDIDATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,51,5,1,3.4,6,1,4,4.449153,4,"Pampanga, Davao City, Philippines",RP,RPC3,24267,7.11000,125.6490,-2443766,4,"Pampanga, Davao City, Philippines",RP,RPC3,24267,7.11000,125.6490,-2443766,4,"Pampanga, Davao City, Philippines",RP,RPC3,24267,7.11000,125.649000,-2443766,20220315030000,https://newsinfo.inquirer.net/1568447/dutertes...
753,1033869400,20220315,202203,2022,2022.2055,REL,BISHOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12,12,1,1,-0.4,24,1,16,3.121357,3,"Dallas, Texas, United States",US,USTX,TX113,32.78310,-96.8067,1380944,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Dallas, Texas, United States",US,USTX,TX113,32.78310,-96.806700,1380944,20220315030000,https://www.nbcdfw.com/news/local/neighbors-fe...
759,1033869406,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,141,141,14,3,-6.5,4,1,2,-7.731092,4,"Ostankino, Nizhegorodskaya Oblast', Russia",RS,RS51,25080,56.38820,44.3371,9258132,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.615600,-2960561,20220315030000,https://www.bangkokpost.com/world/2279439/anti...
777,1033869424,20220315,202203,2022,2022.2055,RUS,MOSCOW,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,43,43,4,1,2.8,1,1,1,-3.173432,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.615600,-2960561,20220315030000,https://www.leadertelegram.com/news/world/expl...
778,1033869425,20220315,202203,2022,2022.2055,RUS,MOSCOW,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,43,43,4,1,2.8,7,1,7,-3.173432,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.615600,-2960561,20220315030000,https://www.leadertelegram.com/news/world/expl...
779,1033869426,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,874,87,8,2,10.0,1,1,1,-3.973510,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Russia,RS,RS,NaN,60.00000,100.000000,RS,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997115...
780,1033869427,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,874,87,8,2,10.0,1,1,1,-3.973510,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997115...
781,1033869428,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,130,130,13,3,-4.4,2,1,2,-1.940639,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,3,"San Francisco, California, United States",US,USCA,NaN,37.77490,-122.4190,277593,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,https://www.nbcbayarea.com/tag/tech/
782,1033869429,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,130,130,13,3,-4.4,8,1,8,-1.940639,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,3,"San Francisco, California, United States",US,USCA,NaN,37.77490,-122.419000,277593,20220315030000,https://www.nbcbayarea.com/tag/tech/
783,1033869430,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,160,160,16,4,-4.0,2,1,2,-1.940639,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,3,"San Francisco, California, United States",US,USCA,NaN,37.77490,-122.4190,277593,3,"San Francisco, California, United States",US,USCA,NaN,37.77490,-122.419000,277593,20220315030000,https://www.nbcbayarea.com/tag/tech/
784,1033869431,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,160,160,16,4,-4.0,8,1,8,-1.940639,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,https://www.nbcbayarea.com/tag/tech/
785,1033869432,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,183,183,18,4,-10.0,5,1,5,-5.808477,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,https://www.dailymail.co.uk/news/article-10613...
805,1033869452,20220315,202203,2022,2022.2055,SAU,SAUDI,SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LKA,COLOMBO,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,12,1,10,2.601626,4,"Jeddah, Makkah, Saudi Arabia",SA,SA14,25312,21.51690,39.2192,-3096108,4,"Colombo, Western, Sri Lanka",CE,CE36,25852,6.93194,79.8478,-2214877,4,"Colombo, Western, Sri Lanka",CE,CE36,25852,6.93194,79.847800,-2214877,20220315030000,http://www.dailynews.lk/2022/03/15/local/27482...
859,1033869506,20220315,202203,2022,2022.2055,UKR,KIEV,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,256,25,2,1,-0.3,18,1,10,-3.973510,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997115...
871,1033869518,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,26,26,2,1,4.0,8,1,5,-3.973510,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.00000,32.000000,UP,20220315030000,http://en.people.cn/n3/2022/0315/c90000-997115...
894,1033869541,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,3,1,2,-1.474201,3,"Richland County, South Carolina, United States",US,USSC,SC079,34.01680,-80.9165,1249299,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Richland County, South Carolina, United States",US,USSC,NaN,34.01680,-80.916500,1249299,20220315030000,https://www.wltx.com/article/news/local/midlan...
998,1033869645,20220315,202203,2022,2022.2055,USA,AMERICAN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,STUDENT,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,20,20,2,1,3.0,8,1,6,-2.810651,3,"Overland Park, Kansas, United States",US,USKS,KS091,38.98220,-94.6708,479210,3,"Overland Park, Kansas, United States",US,USKS,NaN,38.98220,-94.6708,479210,3,"Overland Park, Kansas, United States",US,USKS,NaN,38.98220,-94.670800,479210,20220315030000,https://www.kmbc.com/article/kansas-bill-would...
999,1033869646,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDU,SCHOOL,NaN,NaN,NaN,NaN,NaN,EDU,NaN,NaN,1,20,20,2,1,3.0,8,1,4,-2.810651,2,"Kansas, United States",US,USKS,NaN,38.51110,-96.8005,KS,2,"Kansas, United States",US,USKS,NaN,38.51110,-96.8005,KS,2,"Kansas, United States",US,USKS,NaN,38.51110,-96.800500,KS,20220315030000,https://www.kmbc.com/article/kansas-bill-would...
1071,1033869718,20220315,202203,2022,2022.2055,USAGOV,UNITED STATES,USA,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,111,111,11,3,-2.0,4,1,2,-8.865248,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.89510,-77.0364,531871,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.89510,-77.036400,531871,20220315030000,https://www.nbcnewyork.com/news/local/70k-rewa...

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315031500.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
10,1033870217,20220308,202203,2022,2022.1863,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,46,46,4,1,7.0,1,1,1,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.56700,39.3171,-1045160,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
11,1033870218,20220308,202203,2022,2022.1863,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,46,46,4,1,7.0,2,1,2,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
80,1033870287,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAB,TRADE UNION,NaN,NaN,NaN,NaN,NaN,LAB,NaN,NaN,1,20,20,2,1,3.0,9,1,7,-2.777778,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"New Delhi, Delhi, India",IN,IN07,17911,28.6000,77.2000,-2106102,4,"New Delhi, Delhi, India",IN,IN07,17911,28.60000,77.2000,-2106102,20220315031500,https://www.tribuneindia.com/news/punjab/rift-...
109,1033870316,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42,42,4,1,1.9,6,1,4,-4.648589,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Odesa, Odes'ka Oblast, Ukraine",UP,UP17,28558,46.4639,30.7386,-1049092,4,"Odesa, Odes'ka Oblast, Ukraine",UP,UP17,28558,46.46390,30.7386,-1049092,20220315031500,https://bdnews24.com/world/europe/2022/03/15/t...
117,1033870324,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,36,36,3,1,4.0,10,1,6,-3.502415,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Elk City, Oklahoma, United States",US,USOK,NaN,35.4120,-99.4043,1092527,3,"Elk City, Oklahoma, United States",US,USOK,NaN,35.41200,-99.4043,1092527,20220315031500,https://www.kecofm.com/news/colorado-man-dies-...
125,1033870332,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,WASHINGTON,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42,42,4,1,1.9,7,1,6,-3.502415,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Washington, District of Columbia, United States",US,USDC,DC001,38.8951,-77.0364,531871,2,"California, United States",US,USCA,NaN,36.17000,-119.7460,CA,20220315031500,https://www.kecofm.com/news/colorado-man-dies-...
138,1033870345,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,5,1,4,-5.225225,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Santa Fe County, New Mexico, United States",US,USNM,NaN,35.5167,-105.9510,933322,3,"Santa Fe County, New Mexico, United States",US,USNM,NaN,35.51670,-105.9510,933322,20220315031500,https://www.connectradio.fm/abc-national/armor...
144,1033870351,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VEN,VENEZUELA,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,25,1,10,-2.941176,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Venezuela,VE,VE,NaN,8.0000,-66.0000,VE,1,Venezuela,VE,VE,NaN,8.00000,-66.0000,VE,20220315031500,https://www.wlrn.org/2022-03-14/u-s-talks-with...
246,1033870453,20220315,202203,2022,2022.2055,CHN,CHINESE,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,112,112,11,3,-2.0,8,1,7,-4.500000,4,"Shenzhen, Guangdong, China",CH,CH30,13036,22.200000,111.1170,-1925267,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Shenzhen, Guangdong, China",CH,CH30,13036,22.20000,111.1170,-1925267,20220315031500,https://globalvoices.org/2022/03/15/chinese-ne...
424,1033870631,20220315,202203,2022,2022.2055,EUR,EUROPE,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,61,61,6,2,6.4,20,1,10,-5.054037,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.216700,140.1330,-3038562,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.21670,140.1330,-3038562,20220315031500,https://viscosityredux.substack.com/p/there-ar...
446,1033870653,20220315,202203,2022,2022.2055,GBR,UNITED KINGDOM,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFR,AFRICA,AFR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,36,36,3,1,4.0,12,1,10,2.392344,1,United Kingdom,UK,UK,NaN,54.000000,-4.0000,UK,1,United Kingdom,UK,UK,NaN,54.0000,-4.0000,UK,1,United Kingdom,UK,UK,NaN,54.00000,-4.0000,UK,20220315031500,https://carnegieendowment.org/events/7837
453,1033870660,20220315,202203,2022,2022.2055,GBR,UNITED KINGDOM,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IGOEURSCE,OSCE,EUR,SCE,NaN,NaN,NaN,IGO,NaN,NaN,0,26,26,2,1,4.0,18,1,10,-3.988421,1,United Kingdom,UK,UK,NaN,54.000000,-4.0000,UK,1,United Kingdom,UK,UK,NaN,54.0000,-4.0000,UK,1,United Kingdom,UK,UK,NaN,54.00000,-4.0000,UK,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
519,1033870726,20220315,202203,2022,2022.2055,HLH,HOSPITAL,NaN,NaN,NaN,NaN,NaN,HLH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,10,1,5,-3.267974,4,"Perth, Western Australia, Australia",AS,AS08,5533,-31.933300,115.8330,-1594675,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Perth, Western Australia, Australia",AS,AS08,5533,-31.93330,115.8330,-1594675,20220315031500,https://www.sbs.com.au/language/english/covid-...
609,1033870816,20220315,202203,2022,2022.2055,KEN,KENYA,KEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,10,1,4,1.206140,4,"Nairobi, Nairobi Area, Kenya",KE,KE05,18585,-1.283330,36.8167,-2258072,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Nairobi, Nairobi Area, Kenya",KE,KE05,18585,-1.28333,36.8167,-2258072,20220315031500,https://www.standardmedia.co.ke/business/finan...
640,1033870847,20220315,202203,2022,2022.2055,LEG,PARLIAMENT,NaN,NaN,NaN,NaN,NaN,LEG,NaN,NaN,NZL,CHRISTCHURCH,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17,17,1,1,0.0,20,1,10,-2.822581,1,New Zealand,NZ,NZ,NaN,-42.000000,174.0000,NZ,1,New Zealand,NZ,NZ,NaN,-42.0000,174.0000,NZ,1,New Zealand,NZ,NZ,NaN,-42.00000,174.0000,NZ,20220315031500,https://www.stuff.co.nz/national/politics/1280...
738,1033870945,20220315,202203,2022,2022.2055,PHL,PHILIPPINE,PHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN,CHINESE,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,20,1,4,-6.031746,4,"Manila, Manila, Philippines",RP,RPD9,24210,14.604200,120.9820,-2437894,4,"Beijing, Beijing, China",CH,CH22,13001,39.9289,116.3880,-1898541,4,"Manila, Manila, Philippines",RP,RPD9,24210,14.60420,120.9820,-2437894,20220315031500,https://ground.news/article/philippines-summon...
743,1033870950,20220315,202203,2022,2022.2055,PHL,PHILIPPINE,PHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHNGOV,CHINA,CHN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,40,40,4,1,1.0,4,1,2,-6.031746,1,United States,US,US,NaN,39.828175,-98.5795,US,4,"Manila, Manila, Philippines",RP,RPD9,24210,14.6042,120.9820,-2437894,4,"Manila, Manila, Philippines",RP,RPD9,24210,14.60420,120.9820,-2437894,20220315031500,https://ground.news/article/philippines-summon...
805,1033871012,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,120,120,12,3,-4.0,18,1,10,-5.054037,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.216700,140.1330,-3038562,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.21670,140.1330,-3038562,20220315031500,https://viscosityredux.substack.com/p/there-ar...
823,1033871030,20220315,202203,2022,2022.2055,RUS,MOSCOW,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLR,BELARUS,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,51,51,5,1,3.4,2,1,1,-3.988421,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,4,"Minsk, Belarus (general), Belarus",BO,BO00,5840,53.9000,27.5667,-1946324,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
835,1033871042,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUR,EUROPE,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,61,61,6,2,6.4,18,1,10,-5.054037,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.216700,140.1330,-3038562,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.2167,140.1330,-3038562,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.21670,140.1330,-3038562,20220315031500,https://viscosityredux.substack.com/p/there-ar...
840,1033871047,20220315,202203,2022,2022.2055,RUS,RUSSIAN FEDERATION,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IGOEURSCE,OSCE,EUR,SCE,NaN,NaN,NaN,IGO,NaN,NaN,0,100,100,10,3,-5.0,20,1,10,-3.988421,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.7522,37.6156,-2960561,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
855,1033871062,20220315,202203,2022,2022.2055,RUS,RUSSIAN FEDERATION,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12,12,1,1,-0.4,7,1,7,-3.988421,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
856,1033871063,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12,12,1,1,-0.4,10,1,10,-2.006689,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,http://www.koreaherald.com/view.php?ud=2022031...
857,1033871064,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,4,2,4,-4.546683,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,1,Israel,IS,IS,NaN,31.50000,34.7500,IS,20220315031500,https://www.marketscreener.com/news/latest/Oil...
858,1033871065,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,4,2,4,-4.546683,1,Israel,IS,IS,NaN,31.500000,34.7500,IS,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20220315031500,https://www.marketscreener.com/news/latest/Oil...
859,1033871066,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,51,51,5,1,3.4,3,1,3,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
860,1033871067,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1044,104,10,3,-5.0,4,1,4,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.56700,39.3171,-1045160,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
861,1033871068,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1044,104,10,3,-5.0,1,1,1,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Russia,RS,RS,NaN,60.0000,100.0000,RS,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
862,1033871069,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,163,163,16,4,-8.0,10,1,10,-5.054037,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.216700,140.1330,-3038562,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.2167,140.1330,-3038562,4,"Yall, Khabarovskiy Kray, Russia",RS,RS30,25057,53.21670,140.1330,-3038562,20220315031500,https://viscosityredux.substack.com/p/there-ar...
863,1033871070,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,164,164,16,4,-7.0,2,1,2,-7.777778,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.ndtv.com/world-news/ukraine-russia...
864,1033871071,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,164,164,16,4,-7.0,4,1,4,-7.777778,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,1,Poland,PL,PL,NaN,52.0000,20.0000,PL,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.ndtv.com/world-news/ukraine-russia...
865,1033871072,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1712,171,17,4,-9.2,6,1,6,-3.950617,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Yavoriv, Ivano-Frankivs'ka Oblast', Ukraine",UP,UP06,28565,49.0125,23.9481,11529284,4,"Yavoriv, Ivano-Frankivs'ka Oblast', Ukraine",UP,UP06,28565,49.01250,23.9481,11529284,20220315031500,https://news.antiwar.com/2022/03/14/no-change-...
866,1033871073,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,180,180,18,4,-9.0,6,1,6,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.56700,39.3171,-1045160,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
867,1033871074,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,180,180,18,4,-9.0,2,1,2,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
868,1033871075,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,8,1,8,0.554017,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.5670,39.3171,-1045160,1,Russia,RS,RS,NaN,60.00000,100.0000,RS,20220315031500,https://news.antiwar.com/2022/03/14/ukraine-sa...
869,1033871076,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,20,20,2,1,3.0,1,1,1,0.647668,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.jpost.com/judaism/article-701305
870,1033871077,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,20,20,2,1,3.0,1,1,1,0.647668,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.jpost.com/judaism/article-701305
871,1033871078,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,46,46,4,1,7.0,20,2,20,-4.546683,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20220315031500,https://www.marketscreener.com/news/latest/Oil...
872,1033871079,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,50,50,5,1,3.5,16,2,16,-4.546683,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,20220315031500,https://www.marketscreener.com/news/latest/Oil...
873,1033871080,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,1,50,50,5,1,3.5,4,2,4,-4.546683,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.0000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.00000,32.0000,UP,20220315031500,https://www.marketscreener.com/news/latest/Oil...
874,1033871081,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,181,181,18,4,-9.0,2,1,2,-3.988421,4,"Dniprorudne, Zaporiz'ka Oblast', Ukraine",UP,UP26,28566,47.381700,34.9765,-1037834,4,"Dniprorudne, Zaporiz'ka Oblast', Ukraine",UP,UP26,28566,47.3817,34.9765,-1037834,4,"Dniprorudne, Zaporiz'ka Oblast', Ukraine",UP,UP26,28566,47.38170,34.9765,-1037834,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
875,1033871082,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRGOV,UKRAINE,UKR,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,181,181,18,4,-9.0,4,1,4,-3.988421,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,4,"Dniprorudne, Zaporiz'ka Oblast', Ukraine",UP,UP26,28566,47.3817,34.9765,-1037834,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.75220,37.6156,-2960561,20220315031500,http://www.publicnow.com/view/7175507BBD82AE9E...
876,1033871083,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMED,UKRAINE,UKR,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,85,85,8,2,7.0,1,1,1,-7.777778,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.4333,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.ndtv.com/world-news/ukraine-russia...
877,1033871084,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKRMED,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MED,NaN,NaN,1,164,164,16,4,-7.0,2,1,2,-7.777778,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,1,Poland,PL,PL,NaN,52.0000,20.0000,PL,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.43330,30.5167,-1044367,20220315031500,https://www.ndtv.com/world-news/ukraine-russia...

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_export/20220315033000.export.CSV.zip

,"GLOBALEVENTID,INTEGER","SQLDATE,INTEGER","MonthYear,INTEGER","Year,INTEGER","FractionDate,FLOAT","Actor1Code,STRING","Actor1Name,STRING","Actor1CountryCode,STRING","Actor1KnownGroupCode,STRING","Actor1EthnicCode,STRING","Actor1Religion1Code,STRING","Actor1Religion2Code,STRING","Actor1Type1Code,STRING","Actor1Type2Code,STRING","Actor1Type3Code,STRING","Actor2Code,STRING","Actor2Name,STRING","Actor2CountryCode,STRING","Actor2KnownGroupCode,STRING","Actor2EthnicCode,STRING","Actor2Religion1Code,STRING","Actor2Religion2Code,STRING","Actor2Type1Code,STRING","Actor2Type2Code,STRING","Actor2Type3Code,STRING","IsRootEvent,INTEGER","EventCode,STRING","EventBaseCode,STRING","EventRootCode,STRING","QuadClass,INTEGER","GoldsteinScale,FLOAT","NumMentions,INTEGER","NumSources,INTEGER","NumArticles,INTEGER","AvgTone,FLOAT","Actor1Geo_Type,INTEGER","Actor1Geo_FullName,STRING","Actor1Geo_CountryCode,STRING","Actor1Geo_ADM1Code,STRING","Actor1Geo_ADM2Code,STRING","Actor1Geo_Lat,FLOAT","Actor1Geo_Long,FLOAT","Actor1Geo_FeatureID,STRING","Actor2Geo_Type,INTEGER","Actor2Geo_FullName,STRING","Actor2Geo_CountryCode,STRING","Actor2Geo_ADM1Code,STRING","Actor2Geo_ADM2Code,STRING","Actor2Geo_Lat,FLOAT","Actor2Geo_Long,FLOAT","Actor2Geo_FeatureID,STRING","ActionGeo_Type,INTEGER","ActionGeo_FullName,STRING","ActionGeo_CountryCode,STRING","ActionGeo_ADM1Code,STRING","ActionGeo_ADM2Code,STRING","ActionGeo_Lat,FLOAT","ActionGeo_Long,FLOAT","ActionGeo_FeatureID,STRING","DATEADDED,INTEGER","SOURCEURL,STRING"
98,1033871934,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,50,50,5,1,3.5,3,1,2,-3.705991,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,20220315033000,https://www.breitbart.com/politics/2022/03/14/...
103,1033871939,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,THA,THAILAND,THA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,16,1,8,0.543478,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Betong, Yala, Thailand",TH,TH70,27182,5.774340,101.0720,-3246450,4,"Betong, Yala, Thailand",TH,TH70,27182,5.774340,101.0720,-3246450,20220315033000,https://www.nationthailand.com/in-focus/40013394
116,1033871952,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,MISSOURI,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,42,42,4,1,1.9,20,1,10,1.875000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Missouri, United States",US,USMO,NaN,38.462300,-92.3020,MO,2,"Missouri, United States",US,USMO,NaN,38.462300,-92.3020,MO,20220315033000,https://www.komu.com/news/midmissourinews/miss...
124,1033871960,20220315,202203,2022,2022.2055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,173,173,17,4,-5.0,6,1,4,-10.485934,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Montgomery County, Pennsylvania, United States",US,USPA,NaN,40.375400,-75.4999,1213680,3,"Montgomery County, Pennsylvania, United States",US,USPA,NaN,40.375400,-75.4999,1213680,20220315033000,https://www.citizensvoice.com/news/crime-emerg...
140,1033871976,20220315,202203,2022,2022.2055,AUS,MELBOURNE,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,180,180,18,4,-9.0,12,1,10,-2.547771,4,"Melbourne, Victoria, Australia",AS,AS07,5430,-37.816700,144.9670,-1586844,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Melbourne, Victoria, Australia",AS,AS07,5430,-37.816700,144.9670,-1586844,20220315033000,https://www.dailymail.co.uk/news/article-10613...
161,1033871997,20220315,202203,2022,2022.2055,BUS,AIRLINE,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,111,111,11,3,-2.0,8,1,4,0.595238,4,"Delhi, Delhi, India",IN,IN07,17911,28.666700,77.2167,-2094230,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Delhi, Delhi, India",IN,IN07,17911,28.666700,77.2167,-2094230,20220315033000,https://www.afaqs.com/news/mktg/flight-booking...
162,1033871998,20220315,202203,2022,2022.2055,BUS,AIRLINE,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,111,111,11,3,-2.0,12,1,6,0.595238,4,"Dubai, Dubayy, United Arab Emirates",AE,AE03,28575,25.252200,55.2800,-782831,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Dubai, Dubayy, United Arab Emirates",AE,AE03,28575,25.252200,55.2800,-782831,20220315033000,https://www.afaqs.com/news/mktg/flight-booking...
200,1033872036,20220315,202203,2022,2022.2055,CHN,SHENZHEN,CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BUS,COMPANIES,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,1,111,111,11,3,-2.0,9,1,3,-2.459016,4,"Shenzhen, Guangdong, China",CH,CH30,13036,22.200000,111.1170,-1925267,4,"Shenzhen, Guangdong, China",CH,CH30,13036,22.200000,111.1170,-1925267,4,"Shenzhen, Guangdong, China",CH,CH30,13036,22.200000,111.1170,-1925267,20220315033000,https://gasiantimes.com/2022/03/13/china-shuts...
300,1033872136,20220315,202203,2022,2022.2055,CZE,CZECH REPUBLIC,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,19,4,-10.0,5,1,4,0.630252,4,"Prague, Praha, Hlavnesto, Czech Republic",EZ,EZ52,14865,50.083300,14.4667,-553173,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Prague, Praha, Hlavnesto, Czech Republic",EZ,EZ52,14865,50.083300,14.4667,-553173,20220315033000,https://www.pokernews.com/tours/ept/2021-poker...
375,1033872211,20220315,202203,2022,2022.2055,GOV,GOVERNMENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20,20,2,1,3.0,12,1,10,0.000000,4,"Sebi, Tyva, Russia",RS,RS79,25108,52.503900,94.9147,-2999872,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Sebi, Tyva, Russia",RS,RS79,25108,52.503900,94.9147,-2999872,20220315033000,https://www.business-standard.com/podcast/curr...
394,1033872230,20220315,202203,2022,2022.2055,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,IRN,IRAN,IRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,50,50,5,1,3.5,25,1,10,-3.705991,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,20220315033000,https://www.breitbart.com/politics/2022/03/14/...
462,1033872298,20220315,202203,2022,2022.2055,IRL,TARA,IRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10,10,1,1,0.0,12,1,6,-4.860393,3,"Marshalltown, Iowa, United States",US,USIA,IA127,42.049400,-92.9080,458824,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,"Marshalltown, Iowa, United States",US,USIA,IA127,42.049400,-92.9080,458824,20220315033000,https://iowacapitaldispatch.com/2022/03/14/iow...
467,1033872303,20220315,202203,2022,2022.2055,IRN,IRAN,IRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,50,50,5,1,3.5,25,1,10,-3.705991,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,20220315033000,https://www.breitbart.com/politics/2022/03/14/...
468,1033872304,20220315,202203,2022,2022.2055,IRN,IRAN,IRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOV,PRESIDENT,NaN,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,100,100,10,3,-5.0,20,1,10,-3.705991,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,20220315033000,https://www.breitbart.com/politics/2022/03/14/...
481,1033872317,20220315,202203,2022,2022.2055,ISL,ICELAND,ISL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,80,80,8,2,5.0,7,1,6,1.045588,1,Iceland,IC,IC,NaN,65.000000,-18.0000,IC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Iceland,IC,IC,NaN,65.000000,-18.0000,IC,20220315033000,https://www.msn.com/en-us/tv/celebrity/the-bac...
532,1033872368,20220315,202203,2022,2022.2055,KEN,KENYA,KEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BUS,STEEL TYCOON,NaN,NaN,NaN,NaN,NaN,BUS,NaN,NaN,1,61,61,6,2,6.4,4,1,2,0.465549,4,"Baringo, Rift Valley, Kenya",KE,KE08,18585,0.633458,36.2570,-2257004,4,"Baringo, Rift Valley, Kenya",KE,KE08,18585,0.633458,36.2570,-2257004,4,"Baringo, Rift Valley, Kenya",KE,KE08,18585,0.633458,36.2570,-2257004,20220315033000,https://www.businessdailyafrica.com/bd/corpora...
581,1033872417,20220315,202203,2022,2022.2055,MEX,MEXICO CITY,MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MEXGOV,MEXICAN,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,40,40,4,1,1.0,12,1,10,-7.253886,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,20220315033000,https://www.dw.com/en/mexico-gun-battles-in-bo...
588,1033872424,20220315,202203,2022,2022.2055,MEXGOV,MEXICAN,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,MEX,MEXICO CITY,MEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,40,40,4,1,1.0,12,1,10,-7.253886,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,20220315033000,https://www.dw.com/en/mexico-gun-battles-in-bo...
591,1033872427,20220315,202203,2022,2022.2055,MEXGOV,ANDRES MANUEL LOPEZ OBRADOR,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,MEXGOV,MEXICO,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,40,40,4,1,1.0,12,1,6,-7.253886,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,20220315033000,https://www.dw.com/en/mexico-gun-battles-in-bo...
592,1033872428,20220315,202203,2022,2022.2055,MEXGOV,ANDRES MANUEL LOPEZ OBRADOR,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,MEXGOV,MEXICO,MEX,NaN,NaN,NaN,NaN,GOV,NaN,NaN,0,46,46,4,1,7.0,12,1,6,-7.253886,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,4,"Mexico City, Distrito Federal, Mexico",MX,MX09,20887,19.434200,-99.1386,-1658079,20220315033000,https://www.dw.com/en/mexico-gun-battles-in-bo...
637,1033872473,20220315,202203,2022,2022.2055,NZL,NEW ZEALAND,NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,20,20,2,1,3.0,12,1,8,-0.625000,4,"Island Bay, New Zealand (general), New Zealand",NZ,NZ00,22391,-41.333300,174.7830,-1511183,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Island Bay, New Zealand (general), New Zealand",NZ,NZ00,22391,-41.333300,174.7830,-1511183,20220315033000,https://www.stuff.co.nz/dominion-post/news/wel...
701,1033872537,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,50,50,5,1,3.5,3,1,2,-3.705991,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Tehran, Tehran, Iran",IR,IR26,41130,35.750000,51.5148,10074674,20220315033000,https://www.breitbart.com/politics/2022/03/14/...
733,1033872569,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12,12,1,1,-0.4,6,1,6,0.717949,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,20220315033000,https://www.miragenews.com/wa-farmers-maintain...
734,1033872570,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,33,33,3,1,5.2,2,1,2,0.000000,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,20220315033000,https://www.dnaindia.com/world/report-us-presi...
735,1033872571,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,33,33,3,1,5.2,8,1,8,0.000000,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,20220315033000,https://www.dnaindia.com/world/report-us-presi...
736,1033872572,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,1,1,1,-3.284072,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Sweden,SW,SW,NaN,62.000000,15.0000,SW,20220315033000,https://www.thedp.com/article/2022/03/carl-bil...
737,1033872573,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,40,40,4,1,1.0,3,1,3,-3.284072,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,1,Sweden,SW,SW,NaN,62.000000,15.0000,SW,20220315033000,https://www.thedp.com/article/2022/03/carl-bil...
738,1033872574,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42,42,4,1,1.9,2,1,2,-1.461632,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.0305,-1045268,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.0305,-1045268,4,"Shapovalov, Volgogradskaya Oblast', Russia",RS,RS84,25113,49.766700,45.8000,-3000561,20220315033000,https://www.spokanepublicradio.org/2022-03-14/...
739,1033872575,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42,42,4,1,1.9,2,1,2,-1.461632,4,"Shapovalov, Volgogradskaya Oblast', Russia",RS,RS84,25113,49.766700,45.8000,-3000561,4,"Shapovalov, Volgogradskaya Oblast', Russia",RS,RS84,25113,49.766700,45.8000,-3000561,4,"Shapovalov, Volgogradskaya Oblast', Russia",RS,RS84,25113,49.766700,45.8000,-3000561,20220315033000,https://www.spokanepublicradio.org/2022-03-14/...
740,1033872576,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,43,43,4,1,2.8,2,1,2,-1.461632,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.0305,-1045268,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.0305,-1045268,4,"Lviv, L'vivs'ka Oblast', Ukraine",UP,UP15,28555,49.840700,24.0305,-1045268,20220315033000,https://www.spokanepublicradio.org/2022-03-14/...
741,1033872577,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,2,1,2,1.492537,4,"Irpin, Kyyivs'ka Oblast', Ukraine",UP,UP13,28554,50.521800,30.2506,-1040233,4,"Irpin, Kyyivs'ka Oblast', Ukraine",UP,UP13,28554,50.521800,30.2506,-1040233,4,"Irpin, Kyyivs'ka Oblast', Ukraine",UP,UP13,28554,50.521800,30.2506,-1040233,20220315033000,http://www.china.org.cn/world/2022-03/15/conte...
742,1033872578,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,46,46,4,1,7.0,8,1,8,1.492537,1,Russia,RS,RS,NaN,60.000000,100.0000,RS,4,"Irpin, Kyyivs'ka Oblast', Ukraine",UP,UP13,28554,50.521800,30.2506,-1040233,4,"Irpin, Kyyivs'ka Oblast', Ukraine",UP,UP13,28554,50.521800,30.2506,-1040233,20220315033000,http://www.china.org.cn/world/2022-03/15/conte...
743,1033872579,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,75,75,7,2,7.0,1,1,1,-4.615385,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,20220315033000,https://www.telegraphindia.com/world/russia-uk...
744,1033872580,20220315,202203,2022,2022.2055,RUS,RUSSIA,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,75,75,7,2,7.0,4,1,4,-4.615385,1,Czech Republic,EZ,EZ,NaN,49.750000,15.0000,EZ,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,4,"Kyiv, Kyyiv, Misto, Ukraine",UP,UP12,28554,50.433300,30.5167,-1044367,20220315033000,https://www.telegraphindia.com/world/russia-uk...
745,1033872581,20220315,202203,2022,2022.2055,RUS,RUSSIAN,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,130,130,13,3,-4.4,2,1,2,-0.443459,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,20220315033000,https://www.business-standard.com/article/inte...
746,1033872582,20220315,202203,2022,2022.2055,RUS,MOSCOW,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,190,190,19,4,-10.0,3,1,3,-3.703704,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,4,"Kharkiv, Kharkivs'ka Oblast', Ukraine",UP,UP07,25036,49.980800,36.2527,-1041320,4,"Moscow, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,20220315033000,https://thehill.com/policy/international/59820...
756,1033872592,20220315,202203,2022,2022.2055,RUSGOVMIL,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,MIL,NaN,UKR,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,194,194,19,4,-10.0,4,1,4,-9.821429,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,20220315033000,https://www.dnaindia.com/world/report-ukraine-...
757,1033872593,20220315,202203,2022,2022.2055,RUSGOVMIL,RUSSIA,RUS,NaN,NaN,NaN,NaN,GOV,MIL,NaN,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,194,194,19,4,-10.0,2,1,2,-9.821429,4,"Kremlin, Moskva, Russia",RS,RS48,25106,55.752200,37.6156,-2960561,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,20220315033000,https://www.dnaindia.com/world/report-ukraine-...
758,1033872594,20220315,202203,2022,2022.2055,RUSGOVMIL,RUSSIAN,RUS,NaN,NaN,NaN,NaN,GOV,MIL,NaN,UKRMIL,UKRAINIAN,UKR,NaN,NaN,NaN,NaN,MIL,NaN,NaN,1,130,130,13,3,-4.4,6,1,6,-0.443459,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,4,"Luhansk, Luhans'ka Oblast', Ukraine",UP,UP14,25090,48.567000,39.3171,-1045160,20220315033000,https://www.business-standard.com/article/inte...
770,1033872606,20220315,202203,2022,2022.2055,THA,THAILAND,THA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,43,43,4,1,2.8,16,1,8,0.543478,4,"Betong, Yala, Thailand",TH,TH70,27182,5.774340,101.0720,-3246450,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,"Betong, Yala, Thailand",TH,TH70,27182,5.774340,101.0720,-3246450,20220315033000,https://www.nationthailand.com/in-focus/40013394
800,1033872636,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ISR,ISRAEL,ISR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,51,5,1,3.4,3,1,2,-3.130435,4,"Tel Aviv, Tel Aviv, Israel",IS,IS05,18316,32.066700,34.7667,-781545,4,"Tel Aviv, Tel Aviv, Israel",IS,IS05,18316,32.066700,34.7667,-781545,4,"Tel Aviv, Tel Aviv, Israel",IS,IS05,18316,32.066700,34.7667,-781545,20220315033000,https://www.spokanepublicradio.org/2022-03-14/...
801,1033872637,20220315,202203,2022,2022.2055,UKR,UKRAINE,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ISR,TEL AVIV,ISR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,51,51,5,1,3.4,6,1,5,-3.130435,1,Ukraine,UP,UP,NaN,49.000000,32.0000,UP,4,"Tel Aviv, Tel Aviv, Israel",IS,IS05,18316,32.066700,34.7667,-781545,4,"Tel Aviv, Tel Aviv, Israel",IS,IS05,18316,32.066700,34.7667,-781545,20220315033000,https://www.spokanepublicradio.org/2022-03-14/...
846,1033872682,20220315,202203,2022,2022.2055,USA,UNITED STATES,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10,10,1,1,0.0,7,1,5,-5.465288,2,"Rhode Island, United States",US,USRI,NaN,41.677200,-71.5101,RI,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,"Rhode Island, United States",US,USRI,NaN,41.677200,-71.5101,RI,20220315033000,https://www.dailymail.co.uk/tvshowbiz/article-...

In [ ]:
#Website of global event ID 1033866648	
df_sample = df_export_aggregate[0]
df_sample_2 = df_export_aggregate[1]
"""website_1033866647 = df_sample.iloc[396]['SOURCEURL,STRING']
website_1033866648 = df_sample.iloc[397]['SOURCEURL,STRING']
print(website_1033866647)
print(website_1033866648)"""

# getting the website of a low confidence event (1033866326) and a high confidence event (1033864495)
website_1033864495 = df_sample.iloc[488]['SOURCEURL,STRING'] #Lawmakers event 
website_1033866326 = df_sample_2.iloc[75]['SOURCEURL,STRING'] #Ukraine event

print(website_1033866326)
print(website_1033864495)

https://www.darientimes.com/news/article/In-Ukraine-female-war-reporters-build-on-legacy-17000778.php
https://www.newstimes.com/news/article/Lawmakers-to-vote-on-fix-to-increase-UC-Berkeley-17001401.php

testing the reading of the mentions file

In [76]:
for i in range(len(df_mentions_agg)):
  print("Export file of " + scanned_mention_filenames[i])
  with pd.option_context('display.max_rows', None,'display.max_columns', None): #'display.precision', 2,/#'display.max_colwidth', -1)
    #display(df_mentions_aggregate[i])
    #display(df_mentions_aggregate[i].sort_values('*GlobalEventID. (integer*', ascending=False))
    df = df_mentions_agg[i]
    #display(df.loc[(df['*GlobalEventID. (integer*'] == 1033866647) | (df['*GlobalEventID. (integer*'] == 1033866648)])
    display(df.loc[df['* MentionSourceName. (integer*'] == "thehour.com"])
    #display(df.loc[(df['*GlobalEventID. (integer*'] == 1033864495)])

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315021500.mentions.CSV.zip

Empty DataFrame
Columns: [*GlobalEventID. (integer*, * EventTimeDate. (integer*, * MentionTimeDate. (integer*, * MentionType. (integer*, * MentionSourceName. (integer*, * MentionIdentifier. (integer*, * SentenceID. (integer*, * Actor1CharOffset. (integer*, * Actor2CharOffset. (integer*, * ActionCharOffset. (integer*, * InRawText. (integer*, * Confidence. (integer*, * MentionDocLen. (integer*, * MentionDocTone. (integer*, * MentionDocTranslationInfo. (string*, * Extras. (string*]
Index: []

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315023000.mentions.CSV.zip

,*GlobalEventID. (integer*,* EventTimeDate. (integer*,* MentionTimeDate. (integer*,* MentionType. (integer*,* MentionSourceName. (integer*,* MentionIdentifier. (integer*,* SentenceID. (integer*,* Actor1CharOffset. (integer*,* Actor2CharOffset. (integer*,* ActionCharOffset. (integer*,* InRawText. (integer*,* Confidence. (integer*,* MentionDocLen. (integer*,* MentionDocTone. (integer*,* MentionDocTranslationInfo. (string*,* Extras. (string*
235,1033866326,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,-1,985,973,1,10,8965,-2.546917,NaN,NaN
240,1033861643,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,-1,985,973,0,40,8965,-2.546917,NaN,NaN
245,1033846500,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,2,-1,1442,1382,1,60,3294,1.592920,NaN,NaN
246,1033846501,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,2,-1,1432,1372,0,20,3294,1.592920,NaN,NaN
247,1033846144,20220315001500,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,2,-1,1453,1393,0,20,3294,1.592920,NaN,NaN
297,1033846531,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Cargo-shi...,1,-1,356,329,0,60,591,-4.672897,NaN,NaN
311,1033846543,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Cargo-shi...,1,-1,350,329,1,40,591,-4.672897,NaN,NaN
464,1033861757,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,20,6851,6816,6842,0,20,8965,-2.546917,NaN,NaN
468,1033861758,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,20,6838,6800,6828,1,80,8965,-2.546917,NaN,NaN
734,1033839944,20220315000000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Another-p...,5,1286,-1,1270,1,50,2069,-4.049844,NaN,NaN
1077,1033864495,20220315021500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Lawmakers...,6,1814,-1,1859,1,80,4116,-2.431611,NaN,NaN
1080,1033864496,20220315021500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Lawmakers...,6,1814,-1,1859,0,20,4116,-2.431611,NaN,NaN
1395,1033861915,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,16,4877,-1,4777,0,10,8965,-2.546917,NaN,NaN
1399,1033861917,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,16,4877,-1,4777,1,30,8965,-2.546917,NaN,NaN
1403,1033861919,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,16,4877,-1,4777,0,10,8965,-2.546917,NaN,NaN
1700,1033856679,20220315011500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,10,2202,-1,2315,0,40,8965,-2.546917,NaN,NaN
1706,1033861925,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4623,4743,4709,0,10,8965,-2.546917,NaN,NaN
1712,1033861927,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4582,4702,4668,0,10,8965,-2.546917,NaN,NaN
1715,1033861928,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4623,4499,4709,0,10,8965,-2.546917,NaN,NaN
1899,1033843927,20220315001500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Lawmakers...,9,2585,2612,2645,1,10,4116,-2.431611,NaN,NaN
1926,1033866624,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,4,682,609,693,1,60,2313,0.000000,NaN,NaN
2014,1033866646,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,1,105,198,162,1,30,2313,0.000000,NaN,NaN
2020,1033866647,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,1,105,214,162,0,20,2313,0.000000,NaN,NaN
2026,1033866648,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,1,105,198,162,1,30,2313,0.000000,NaN,NaN
2033,1033866650,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,4,706,583,716,0,20,2313,0.000000,NaN,NaN
2045,1033866653,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,1,105,198,137,1,50,2313,0.000000,NaN,NaN
2052,1033844021,20220315001500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Lawmakers...,9,2585,2603,2650,0,20,4116,-2.431611,NaN,NaN
2266,1033840424,20220315000000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Fourth-CO...,19,5599,-1,5606,0,40,5839,1.027749,NaN,NaN
2267,1033840425,20220315000000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Fourth-CO...,14,4266,-1,4317,0,20,5839,1.027749,NaN,NaN
2277,1033840430,20220315000000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Fourth-CO...,19,5599,-1,5630,0,40,5839,1.027749,NaN,NaN
2484,1033866759,20220315023000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Stacey-Ab...,4,609,583,716,0,20,2313,0.000000,NaN,NaN
2698,1033862140,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,14,4255,-1,4276,1,70,8965,-2.546917,NaN,NaN
2703,1033862141,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,14,4255,4327,4276,0,30,8965,-2.546917,NaN,NaN
2706,1033862142,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,1096,985,973,1,10,8965,-2.546917,NaN,NaN
2709,1033862145,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,1096,985,973,0,10,8965,-2.546917,NaN,NaN
2715,1033862147,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,1096,985,973,0,30,8965,-2.546917,NaN,NaN
2721,1033862152,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,9,2007,-1,2165,1,30,8965,-2.546917,NaN,NaN
2729,1033862157,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4499,-1,4668,0,10,8965,-2.546917,NaN,NaN
2732,1033862158,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4499,-1,4686,1,30,8965,-2.546917,NaN,NaN
2774,1033862171,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,9,2007,2170,2153,0,30,8965,-2.546917,NaN,NaN
3085,1033862281,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,15,4669,4720,4686,1,30,8965,-2.546917,NaN,NaN
3104,1033847543,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1849,1860,1829,1,20,3294,1.592920,NaN,NaN
3105,1033847544,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1852,1863,1832,0,10,3294,1.592920,NaN,NaN
3141,1033862306,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,24,7526,7562,7550,1,60,8965,-2.546917,NaN,NaN
3475,1033862391,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,985,-1,973,1,50,8965,-2.546917,NaN,NaN
3481,1033862394,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,985,1096,973,0,10,8965,-2.546917,NaN,NaN
3485,1033862395,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,5,985,1096,973,1,40,8965,-2.546917,NaN,NaN
3721,1033847835,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1758,1860,1829,1,30,3294,1.592920,NaN,NaN
3722,1033847836,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1758,1863,1832,0,10,3294,1.592920,NaN,NaN
3723,1033847837,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1777,-1,1864,0,20,3294,1.592920,NaN,NaN
3724,1033847838,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1777,-1,1864,0,10,3294,1.592920,NaN,NaN
3787,1033862452,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,24,7572,7509,7560,0,20,8965,-2.546917,NaN,NaN
3790,1033865334,20220315021500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,24,7554,7491,7542,0,20,8965,-2.546917,NaN,NaN
3795,1033847875,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1758,1849,1829,1,40,3294,1.592920,NaN,NaN
3796,1033847876,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1777,1884,1864,0,20,3294,1.592920,NaN,NaN
3797,1033847877,20220315003000,20220315023000,1,thehour.com,https://www.thehour.com/westport/article/Westp...,4,1777,1884,1864,0,10,3294,1.592920,NaN,NaN
3802,1033862455,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,24,7562,7526,7550,1,60,8965,-2.546917,NaN,NaN
4033,1033861213,20220315014500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Cargo-shi...,1,350,-1,329,1,100,591,-4.672897,NaN,NaN
4056,1033845051,20220315001500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/State-94-...,6,2347,-1,2298,0,20,2784,-1.856148,NaN,NaN
4332,1033845310,20220315001500,20220315023000,1,thehour.com,https://www.thehour.com/news/article/Lawmakers...,9,2570,2621,2669,0,20,4116,-2.431611,NaN,NaN
4412,1033862697,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,29,9037,-1,9081,1,60,8965,-2.546917,NaN,NaN
4427,1033862702,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,29,9037,9065,9073,0,40,8965,-2.546917,NaN,NaN
4444,1033862713,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,3,677,-1,724,0,80,8965,-2.546917,NaN,NaN
4451,1033862720,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,7,1507,-1,1473,0,40,8965,-2.546917,NaN,NaN
4457,1033862725,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,7,1516,1535,1482,1,10,8965,-2.546917,NaN,NaN
4462,1033862727,20220315020000,20220315023000,1,thehour.com,https://www.thehour.com/news/article/In-Ukrain...,7,1528,1576,1473,0,20,8965,-2.546917,NaN,NaN

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315024500.mentions.CSV.zip

Empty DataFrame
Columns: [*GlobalEventID. (integer*, * EventTimeDate. (integer*, * MentionTimeDate. (integer*, * MentionType. (integer*, * MentionSourceName. (integer*, * MentionIdentifier. (integer*, * SentenceID. (integer*, * Actor1CharOffset. (integer*, * Actor2CharOffset. (integer*, * ActionCharOffset. (integer*, * InRawText. (integer*, * Confidence. (integer*, * MentionDocLen. (integer*, * MentionDocTone. (integer*, * MentionDocTranslationInfo. (string*, * Extras. (string*]
Index: []

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315030000.mentions.CSV.zip

Empty DataFrame
Columns: [*GlobalEventID. (integer*, * EventTimeDate. (integer*, * MentionTimeDate. (integer*, * MentionType. (integer*, * MentionSourceName. (integer*, * MentionIdentifier. (integer*, * SentenceID. (integer*, * Actor1CharOffset. (integer*, * Actor2CharOffset. (integer*, * ActionCharOffset. (integer*, * InRawText. (integer*, * Confidence. (integer*, * MentionDocLen. (integer*, * MentionDocTone. (integer*, * MentionDocTranslationInfo. (string*, * Extras. (string*]
Index: []

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315031500.mentions.CSV.zip

Empty DataFrame
Columns: [*GlobalEventID. (integer*, * EventTimeDate. (integer*, * MentionTimeDate. (integer*, * MentionType. (integer*, * MentionSourceName. (integer*, * MentionIdentifier. (integer*, * SentenceID. (integer*, * Actor1CharOffset. (integer*, * Actor2CharOffset. (integer*, * ActionCharOffset. (integer*, * InRawText. (integer*, * Confidence. (integer*, * MentionDocLen. (integer*, * MentionDocTone. (integer*, * MentionDocTranslationInfo. (string*, * Extras. (string*]
Index: []

Export file of /content/drive/MyDrive/GDELT_Raw_data/GDELT_v2_mentions/20220315033000.mentions.CSV.zip

Empty DataFrame
Columns: [*GlobalEventID. (integer*, * EventTimeDate. (integer*, * MentionTimeDate. (integer*, * MentionType. (integer*, * MentionSourceName. (integer*, * MentionIdentifier. (integer*, * SentenceID. (integer*, * Actor1CharOffset. (integer*, * Actor2CharOffset. (integer*, * ActionCharOffset. (integer*, * InRawText. (integer*, * Confidence. (integer*, * MentionDocLen. (integer*, * MentionDocTone. (integer*, * MentionDocTranslationInfo. (string*, * Extras. (string*]
Index: []

In [ ]:
print(df_men_sample.iloc[1077]['* MentionIdentifier. (integer*'])
df_men_sample = df_mentions_aggregate[0]
print(df_men_sample.iloc[1345]['* MentionIdentifier. (integer*'])

https://www.thehour.com/news/article/Lawmakers-to-vote-on-fix-to-increase-UC-Berkeley-17001401.php
https://www.newstimes.com/news/article/Lawmakers-to-vote-on-fix-to-increase-UC-Berkeley-17001401.php

#Misc Testing

In [ ]:

a = [['a','b'], ['c']]
print(list(itertools.chain.from_iterable(a)))

['a', 'b', 'c']

In [1]:
1 in [1,2,3]

True

In [62]:
a = np.array([[1,2,3],[4,5,6]])

In [63]:
a.transpose()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [75]:
b = itertools.combinations(a.transpose(), 2)

for combination in itertools.combinations(a.transpose(),2):
  print(list(combination)[0])

[1 4]
[1 4]
[2 5]

In [185]:
np.array([1,2]) in np.array([[1,2],[3,4]])

True